<div class="xfo-about-cards-popup jso-about-cards-popup">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-about-cards-popup__close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <div class="xfo-popup__heading">
          <h3 class="xfo-about-cards-popup__heading">Как стать участником Клуба Перекресток?</h3>
        </div>
      </div>

      <div class="xfo-popup__content">
        <ul class="xfo-about-cards-popup__get-involved">
          <li class="xfo-about-cards-popup__get-involved-item">
            <div class="xfo-about-cards-popup__get-involved-image">
              <img src="assets/images/call-number.png" alt="">
            </div>
            <a href="#" class="xfo-about-cards-popup__get-involved-text">Скачайте мобильное приложение “Мой Перекресток”</a>
          </li>
          <li class="xfo-about-cards-popup__get-involved-item">
            <div class="xfo-about-cards-popup__get-involved-image">
              <img src="assets/images/or-card.png" alt="">
            </div>
            <span class="xfo-about-cards-popup__get-involved-text">Купите карту за 49,90 на кассе</span>
          </li>
        </ul>
      </div>

      <h3 class="xfo-about-cards-popup__heading">Как стать участником Клуба Перекресток?</h3>

      <div class="xfo-about-cards-popup__how-to-card">
        //= how-to-card.html
      </div>

      <div class="xfo-popup__footer">
        <div class="xfo-about-cards-popup__footer">
          <a href="#" class="xfo-about-cards-popup__footer-link">Правила Клуба Перекресток</a>
        </div>
      </div>
    </div>
  </div>
</div>
