<!--подробности дебетовая-->
<div class="xfo-bank-cards-popup jso-bank-cards-popup-debit">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-bank-cards-popup-debit__close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <div class="xfo-popup__heading">
          <h3 class="xfo-bank-cards-popup__heading">Дебетовая карта «Перекресток – Альфа-Банк»</h3>
        </div>
      </div>

      <div class="xfo-popup__content">
        <div class="xfo-bank-cards-popup__content">
          <!--Возможности-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Возможности:</h3>
            <div class="xfo-bank-cards-popup__capabilities">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы оплачиаете картой свои ежедневные покупки и получаете баллы, которые можно тратить в супермаркетах «Перекресток» и у партнеров сети
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-2">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-2"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы получаете скидки и специальные предложения в мобильном приложении «Мой Перекресток»
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-3">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-3"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы существенно экономите на покупках в супермаркеах «Перекресток»
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-4">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-4"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы можете бесплатно пополнить <a class="xfo-bank-cards-popup__list-link" href="#">карту «Перекресток» с карты любого банка</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="xfo-bank-cards-popup__text">
            <p class="xfo-bank-cards-popup__text-item">Если вы не оплачиваете покупки Банковскими картами «Перекресток» в супермаркетах «Перекресток», при этом вы предъявляете данную карту на кассах для считывания кассиром штрих-кода на обороте карты, Вам начисляется стандартное количество баллов – 1 балл за 10 рублей». Данные баллы начисляются сразу же после совершения покупки. </p>
            <p class="xfo-bank-cards-popup__text-item">Дополнительные баллы, начисляемые за оплату покупок Банковскими картами «Перекресток», начисляются общей суммой за все покупки в месяце в течение 10 рабочих дней месяца, следующего за месяцем совершения покупок.</p>
          </div>

          <!--Как получить дебетовую карту “Перекресток — Альфа-Банк”?-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Как получить дебетовую карту “Перекресток — Альфа-Банк”?</h3>
            <div class="xfo-bank-cards-popup__how-to-get">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-5">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-5"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    <a class="xfo-bank-cards-popup__list-link" href="#">Заказать карту сейчас</a>
                    <br>
                    с бесплатной доставкой на дом
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-6">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-6"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    В любом отделении
                    <br>
                    <a class="xfo-bank-cards-popup__list-link" href="#">Альфа-Банка</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--подробности кредитная-->
<div class="xfo-bank-cards-popup jso-bank-cards-popup-credit">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-bank-cards-popup-credit__close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <div class="xfo-popup__heading">
          <h3 class="xfo-bank-cards-popup__heading">Кредитная карта «Перекресток – Альфа-Банк»</h3>
        </div>
      </div>

      <div class="xfo-popup__content">
        <div class="xfo-bank-cards-popup__content">
          <!--Возможности-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Возможности:</h3>
            <div class="xfo-bank-cards-popup__capabilities">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы оплачиваете картой свои ежедневные покупки и получаете баллы, которые можно тратить в супермаркетах «Перекресток» и у партнеров сети
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-2">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-2"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы получаете скидки и специальные предложения в мобильном приложении «Мой Перекресток»
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-3">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-3"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Вы существенно экономите на покупках в супермаркетах «Перекресток»
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="xfo-bank-cards-popup__text">
            <p class="xfo-bank-cards-popup__text-item">Если вы не оплачиваете покупки Банковскими картами «Перекресток» в супермаркетах «Перекресток», при этом вы предъявляете данную карту на кассах для считывания кассиром штрих-кода на обороте карты, Вам начисляется стандартное количество баллов – 1 балл за 10 рублей». Данные баллы начисляются сразу же после совершения покупки.</p>
            <p class="xfo-bank-cards-popup__text-item">Дополнительные баллы, начисляемые за оплату покупок Банковскими картами «Перекресток», начисляются общей суммой за все покупки в месяце в течение 10 рабочих дней месяца, следующего за месяцем совершения покупок.</p>
          </div>

          <!--Как получить кредитную карту “Перекресток — Альфа-Банк”?-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Как получить кредитную карту “Перекресток — Альфа-Банк”?</h3>
            <div class="xfo-bank-cards-popup__how-to-get">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-5">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-5"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    <a class="xfo-bank-cards-popup__list-link" href="#">Заказать карту сейчас</a>
                    <br>
                    с бесплатной доставкой на дом
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_2">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-6">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-6"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    В любом отделении
                    <br>
                    <a class="xfo-bank-cards-popup__list-link" href="#">Альфа-Банка</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--подробности платежная-->
<div class="xfo-bank-cards-popup jso-bank-cards-popup-payment">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-bank-cards-popup-payment__close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <div class="xfo-popup__heading">
          <h3 class="xfo-bank-cards-popup__heading">Платежная карта “Перекресток”</h3>
        </div>
      </div>

      <div class="xfo-popup__content">
        <div class="xfo-bank-cards-popup__content">
          <!--Возможности-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Возможности:</h3>
            <div class="xfo-bank-cards-popup__capabilities">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Получайте 2 балла за 10 рублей в супермаркетах «Перекресток» и 1 балл за любые другие покупки при оплате Платежной картой «Перекресток»
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-3">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-3"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Оплачивайте до 100% покупок баллами в супермаркетах «Перекресток» и у партнеров
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-2">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-2"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Получайте персональные скидки в мобильном приложении «Мой Перекресток» и участвуйте в акциях
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="xfo-bank-cards-popup__text">
            <p class="xfo-bank-cards-popup__text-item">Если вы не оплачиваете покупки Банковскими картами «Перекресток» в супермаркетах «Перекресток», при этом вы предъявляете данную карту на кассах для считывания кассиром штрих-кода на обороте карты, Вам начисляется стандартное количество баллов – 1 балл за 10 рублей». Данные баллы начисляются сразу же после совершения покупки.</p>
            <p class="xfo-bank-cards-popup__text-item">Дополнительные баллы, начисляемые за оплату покупок Банковскими картами «Перекресток», начисляются общей суммой за все покупки в месяце в течение 10 рабочих дней месяца, следующего за месяцем совершения покупок.Договор о порядке выпуска и обслуживания платежной карты «Перекресток</p>
          </div>

          <!--Как получить платежную карту “Перекресток”?-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Как получить платежную карту “Перекресток”?</h3>
            <div class="xfo-bank-cards-popup__how-to-get">
              <ul class="xfo-bank-cards-popup__list">
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Купите карту на кассе за 99 рублей в любом супермаркете <a href="#" class="xfo-bank-cards-popup__list-link">«Перекресток»</a>
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    <a href="#" class="xfo-bank-cards-popup__list-link">Зарегистрируйте карту</a> для оплаты баллами
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Пополняйте карту деньгами и оплачивайте покупки в супермаркетах «Перекресток» и в других магазинах
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Оплачивайте картой покупки в супермаркетах «Перекресток» и в других магазинах
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Получайте 2 балла в «Перекрестке» и 1 балл в других магазинах за каждые 10 рублей
                  </div>
                </li>
                <li class="xfo-bank-cards-popup__list-item xfo-bank-cards-popup__list-item_1_3">
                  <div class="xfo-bank-cards-popup__list-icon-wrapper">
                    <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                    </svg>
                  </div>
                  <div class="xfo-bank-cards-popup__list-text">
                    Оплачивайте баллами до 100% покупок в «Перекрестке» и у партнеров
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <!--Где зарегистрировать карту?-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Где зарегистрировать карту?</h3>
            <div class="xfo-bank-cards-popup__how-to-register">
              //= ./how-to-card.html
            </div>
          </div>

          <!--Как пополнить карту?-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Как пополнить карту?</h3>
            <div class="xfo-bank-cards-popup__section-content">

            </div>
          </div>

          <!--Рассчитайте количество баллов с покупки-->
          <div class="xfo-bank-cards-popup__section">
            <h3 class="xfo-bank-cards-popup__section-heading">Рассчитайте количество баллов с покупки</h3>
            <div class="xfo-bank-cards-popup__section-content">
              <!--TODO-->
              <div class="xfo-bank-cards-popup__attention">
                <div class="xfo-bank-cards-popup__attention-icon">
                  <svg class="xfo-bank-cards-popup__list-icon xfo-bank-cards-popup__list-icon_card-popup-icon-1">
                    <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__card-popup-icon-1"></use>
                  </svg>
                </div>
                <div class="xfo-bank-cards-popup__attention-text">
                  Минимальная сумма пополнения карты 100 руб. Максимальная сумма — 15 000 руб. единовременно.<br/>
                  Общая сумма операций по карте в месяц — не более 40 000 руб. Остаток средств на карте не может превышать 15 000 руб. Выдача наличных денежных средств с карты не предусмотрена.
                </div>
              </div>
            </div>
          </div>
          <!--итого-->
          <div class="xfo-bank-cards-popup__output">
            <div class="xfo-bank-cards-popup__output-title">Итого:</div>
            <div class="xfo-bank-cards-popup__output-price">5 614</div>
            <div class="xfo-bank-cards-popup__output-discount">Ваша скидка: 561 Р</div>
          </div>

          <div class="xfo-bank-cards-popup__waste">
            <img src="assets/images/waste-img.png" alt="" class="xfo-bank-cards-popup__waste">
            <div class="xfo-bank-cards-popup__waste-text">
              <div class="xfo-bank-cards-popup__waste-heading">Как тратить баллы?</div>
              <div class="xfo-bank-cards-popup__waste-text">Накопленными баллами вы можете полностью или частично оплатить покупки в супермаркетах «Перекресток» и у партнеров «Клуба Перекресток»</div>
              <div class="xfo-bank-cards-popup__waste-text">Для этого предъявите на кассе карту или мобильное приложение «Мой Перекресток» и сообщите кассиру, что хотите использовать накопленные баллы для оплаты покупки</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
