<div class="xfo-banner-slider">
  <div class="xfo-banner-slider__buttons">
    <div class="xfo-banner-slider__button">
      <div class="xfo-slide-button jso-banner-slider__button_prev">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_left" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>
    <div class="xfo-banner-slider__button">
      <div class="xfo-slide-button jso-banner-slider__button_next">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_right" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>
  </div>
  <ul class="xfo-banner-slider__items jso-banner-slider__items">
    <li class="xfo-banner-slider__item">
      <a class="xfo-banner-slider__link" href="#">
        <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
      </a>
    </li>
    <li class="xfo-banner-slider__item">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
  </ul>
</div>
