<div class="xfo-banner-slider swiper-container jso-banner-slider">
  <ul class="xfo-banner-slider__items swiper-wrapper">
    <li class="xfo-banner-slider__item swiper-slide">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
    <li class="xfo-banner-slider__item swiper-slide">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
    <li class="xfo-banner-slider__item swiper-slide">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
    <li class="xfo-banner-slider__item swiper-slide">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
  </ul>

  <div class="xfo-banner-slider__buttons">
    <div class="xfo-banner-slider__button jso-banner-slider__button_prev">
      <div class="xfo-slide-button jso-banner-slider__button_prev">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_left" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>

    <div class="xfo-banner-slider__button jso-banner-slider__button_next">
      <div class="xfo-slide-button">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_right" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>
  </div>

  <ul class="xfo-banner-slider__pagination jso-banner-slider__pagination"></ul>
</div>
