<div class="xfo-banner-slider">
  <div class="xfo-banner-slider__buttons">
    <div class="xfo-banner-slider__button">
      <div class="xfo-slide-button xfo-slide-button_left jso-banner-slider__button jso-banner-slider__button_prev">
      </div>
    </div>
    <div class="xfo-banner-slider__button">
      <div class="xfo-slide-button xfo-slide-button_right jso-banner-slider__button jso-banner-slider__button_next">
      </div>
    </div>
  </div>
  <ul class="xfo-banner-slider__items jso-banner-slider__items">
    <li class="xfo-banner-slider__item">
      <a class="xfo-banner-slider__link" href="#">
        <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
      </a>
    </li>
    <li class="xfo-banner-slider__item">
      <img class="xfo-banner-slider__image" src="files/banner1.jpg" alt="" role="presentation"/>
    </li>
  </ul>
</div>
