<ul class="xfo-buy-card">
  <li class="xfo-buy-card__item">
    <img src="files/buy-card1.jpg" alt="" class="xfo-buy-card__image">
    <div class="xfo-buy-card__button jso-buy-card__open_contract">
      <a href="#" class="xfo-button xfo-button_green jso-terms-of-use">Купить по договору</a>
    </div>
  </li>
  <li class="xfo-buy-card__item">
    <img src="files/buy-card2.jpg" alt="" class="xfo-buy-card__image">
    <div class="xfo-buy-card__button jso-buy-card__open_shop">
      <a href="#" class="xfo-button xfo-button_green jso-popup-certificates">Купить в магазине</a>
    </div>
  </li>
</ul>
