<div class="xfo-calc-points-popup jso-calc-points-popup">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-calc-points-popup__close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <h3 class="xfo-popup__heading">Рассчитайте количество баллов с покупки</h3>
      </div>

      <div class="xfo-popup__content">
        <form action="#" class="xfo-calc-points-popup__form">
            <label for="" class="xfo-calc-points-popup__field">
              Категория
              <div class="xfo-calc-points-popup__input">
                <div class="xfo-select">
                  <select class="xfo-select__field">
                    <option value="">Бытовая техника</option>
                  </select>
                  <svg class="xfo-select__icon">
                    <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__select-caret"></use>
                  </svg>
                </div>
              </div>
            </label>
            <label for="" class="xfo-calc-points-popup__field">
              Список партнеров
              <div class="xfo-calc-points-popup__input">
                <div class="xfo-select">
                  <select class="xfo-select__field">
                    <option value="">Мегафон</option>
                  </select>
                  <svg class="xfo-select__icon">
                    <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__select-caret"></use>
                  </svg>
                </div>
              </div>
            </label>
            <label for="" class="xfo-calc-points-popup__field">
              Список партнеров
              <div class="xfo-calc-points-popup__input">
                <input type="text" class="xfo-calc-points-popup__text-field" value="999 999">
              </div>
            </label>
          </form>
        <div class="xfo-calc-points-popup__output">
          <div class="xfo-calc-points-popup__output-points">199 998</div>
          <div class="xfo-calc-points-popup__output-text">баллов</div>
        </div>
      </div>
    </div>
  </div>
</div>
