<h2 class="xfo-heading">Выберите карту Клуба Перекресток</h2>
<div class="xfo-cards">
  <div class="xfo-cards__item">
    <img class="xfo-cards__image" src="assets/images/karta-kluba-perekrestok.png" alt="@@" title=""/>
    <div class="xfo-cards__for-cols">
      <div class="xfo-cards__heading">
        <h3 class="xfo-heading">Карта Клуба Перекресток</h3>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как копить баллы?</p>
        <img src="assets/images/10r-1.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_green" href="#">Оформить карту</a>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как тратить баллы?</p>
        <img src="assets/images/10-1r.png" alt="@@" title=""/><a
        class="xfo-button xfo-button_white jso-cards__read-more" href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="xfo-cards__item">
    <img class="xfo-cards__image" src="assets/images/card-x2.png" alt="@@" title=""/>
    <div class="xfo-cards__for-cols">
      <div class="xfo-cards__heading">
        <h3 class="xfo-heading">Платежная карта “Перекресток”</h3>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как копить баллы?</p>
        <img src="assets/images/10r-2.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_green" href="#">Оформить карту</a>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как тратить баллы?</p>
        <img src="assets/images/10-1r.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_white jso-cards__read-more" href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="xfo-cards__item"><img class="xfo-cards__image" src="assets/images/card-alfa.png" alt="@@" title=""/>
    <div class="xfo-cards__for-cols">
      <div class="xfo-cards__heading">
        <h3 class="xfo-heading">Дебетовая карта “Перекресток — Альфа-Банк”</h3>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как копить баллы?</p>
        <img src="assets/images/10r-3.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_green" href="#">Оформить карту</a>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как тратить баллы?</p>
        <img src="assets/images/10-1r.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_white jso-cards__read-more" href="#">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="xfo-cards__item">
    <img class="xfo-cards__image" src="assets/images/card-alfa.png" alt="@@" title=""/>
    <div class="xfo-cards__for-cols">
      <div class="xfo-cards__heading">
        <h3 class="xfo-heading">Кредитная карта “Перекресток — Альфа-Банк”</h3>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как копить баллы?</p>
        <img src="assets/images/10r-3.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_green" href="#">Оформить карту</a>
      </div>
      <div class="xfo-cards__for-cols-column">
        <p>Как тратить баллы?</p>
        <img src="assets/images/10-1r.png" alt="@@" title=""/>
        <a class="xfo-button xfo-button_white jso-cards__read-more" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</div>
