<div class="xfo-favourites__text-content-block_top">
    <div class="xfo-text-content-block">
        <h1>Любимые продукты</h1>
        <p>Подключайте категорию Любимых Продуктов и получайте в 5 раз больше баллов за покупку товаров выбранной категории. Подписывайтесь на получение персональных предложений – мы начислим до 20 раз больше баллов на интересные Вам продукты!</p>
        <p>Ждём Вас в ближайшем Перекрёстке за дополнительными баллами на Вашу карту Клуба Перекрёсток!</p>
        <h2>Общие правила накопления баллов</h2>
        <p>Баллы — всегда целые числа.</p>
        <p>Вы получаете баллы за покупку в сети Перекресток по курсу 1 балл за каждые полные 10 рублей (базовое правило). Для этого предъявите кассиру Карту Клуба (Основную или Дополнительную). Баллы рассчитываются на кассе автоматически. Количество баллов и их общая сумма указываются на кассовом чеке.</p>
        <h2>Любимые продукты</h2>
        <p>Вы можете получать 5 баллов за каждые полные 10 рублей при покупке продуктов выбранной категории. Товарные категории «Любимых Продуктов» перечислены ниже:</p>
    </div>
</div>
<div class="xfo-favourites__blocks">
    <div class="lovely-products">
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-9">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-01.png" width="84" height="84" alt="Бакалея и горячие напитки (чай, кофе)">
            </div>
            <h6 class="lovely-product-name">Бакалея и горячие напитки (чай, кофе)</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Чай</li>
                <li class="lovely-product-item">Кофе</li>
                <li class="lovely-product-item">Консервация</li>
                <li class="lovely-product-item">Крупы и зерновые</li>
                <li class="lovely-product-item">Макаронные изделия</li>
                <li class="lovely-product-item">Масла растительные</li>
                <li class="lovely-product-item">Мука</li>
                <li class="lovely-product-item">Сахар</li>
                <li class="lovely-product-item">Соль</li>
                <li class="lovely-product-item">Соусы</li>
                <li class="lovely-product-item">Специи</li>
                <li class="lovely-product-item">Сухие компоненты и смеси</li>
                <li class="lovely-product-item">Сухофрукты</li>
                <li class="lovely-product-item">Уксус</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-3">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-13.png" width="84" height="84" alt="Хлеб и кондитерские изделия">
            </div>
            <h6 class="lovely-product-name">Хлеб и кондитерские изделия</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Бараночные изделия</li>
                <li class="lovely-product-item">Вафли</li>
                <li class="lovely-product-item">Восточные сладости, халва</li>
                <li class="lovely-product-item">Шоколадные пасты</li>
                <li class="lovely-product-item">Жевательная резинка</li>
                <li class="lovely-product-item">Зефир, мармелад, пастила</li>
                <li class="lovely-product-item">Кексы, рулеты</li>
                <li class="lovely-product-item">Шоколад, батончики</li>
                <li class="lovely-product-item">Конфеты</li>
                <li class="lovely-product-item">Чипсы</li>
                <li class="lovely-product-item">Печенье, крекер</li>
                <li class="lovely-product-item">Хлеб, хлебобулочные изделия</li>
                <li class="lovely-product-item">Пряники</li>
                <li class="lovely-product-item">Сухарные изделия</li>
                <li class="lovely-product-item">Сухие завтраки, мюсли</li>
                <li class="lovely-product-item">Торты, пирожное</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-7">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-03.png" width="84" height="84" alt="Все для дома, дачи, спорта">
            </div>
            <h6 class="lovely-product-name">Все для дома, дачи, спорта</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Автоаксессуары</li>
                <li class="lovely-product-item">Средства личной гигиены, косметика</li>
                <li class="lovely-product-item">Бытовая химия</li>
                <li class="lovely-product-item">Одежда и обувь</li>
                <li class="lovely-product-item">Корма и товары для животных</li>
                <li class="lovely-product-item">Товары для дома</li>
                <li class="lovely-product-item">Товары для сада/огорода</li>
                <li class="lovely-product-item">Техника для дома</li>
                <li class="lovely-product-item">Чулочно-носочные изделия</li>
                <li class="lovely-product-item">Фитнес</li>
                <li class="lovely-product-item">Канцелярские товары</li>
                <li class="lovely-product-item">Кожгалантерея</li>
                <li class="lovely-product-item">Книги, диски, пресса</li>
                <li class="lovely-product-item">Лампы накаливания и элементы питания</li>
                <li class="lovely-product-item">Медиа</li>
                <li class="lovely-product-item">Растения</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-11">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-04.png" width="84" height="84" alt="Готовая кулинария и замороженные полуфабрикаты">
            </div>
            <h6 class="lovely-product-name">Готовая кулинария и замороженные полуфабрикаты</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Готовая кулинария, салаты</li>
                <li class="lovely-product-item">Готовые блюда охлажденные</li>
                <li class="lovely-product-item">Мороженое</li>
                <li class="lovely-product-item">Замороженные полуфабрикаты</li>
                <li class="lovely-product-item">Замороженные торты, пирожные</li>
                <li class="lovely-product-item">Замороженная плодоовощная продукция</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-4">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-05.png" width="84" height="84" alt="Диабетическое и Здоровое питание">
            </div>
            <h6 class="lovely-product-name">Диабетическое и Здоровое питание</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Бакалея диабетическая</li>
                <li class="lovely-product-item">Варенье, мёд</li>
                <li class="lovely-product-item">Кондитерка диабетическая</li>
                <li class="lovely-product-item">Семечки</li>
                <li class="lovely-product-item">Орехи</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-2">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-06.png" width="84" height="84" alt="Молочная гастрономия">
            </div>
            <h6 class="lovely-product-name">Молочная гастрономия</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Молоко</li>
                <li class="lovely-product-item">Кисломолочные продукты</li>
                <li class="lovely-product-item">Молочные десерты</li>
                <li class="lovely-product-item">Масложировые продукты</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-10">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-07.png" width="84" height="84" alt="Мясо и птица">
            </div>
            <h6 class="lovely-product-name">Мясо и птица</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Замороженное мясо и субпродукты</li>
                <li class="lovely-product-item">Замороженное мясо птицы</li>
                <li class="lovely-product-item">Мясо и мясные изделия</li>
                <li class="lovely-product-item">Мясо и П/Ф охлажденые</li>
                <li class="lovely-product-item">Птица и изделия из птицы</li>
                <li class="lovely-product-item">Птица и П/Ф охлажденые</li>
                <li class="lovely-product-item">Собственное производство (Мясные изд.)</li>
                <li class="lovely-product-item">Яйцо</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-1">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-08.png" width="84" height="84" alt="Овощи и фрукты">
            </div>
            <h6 class="lovely-product-name">Овощи и фрукты</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Овощи</li>
                <li class="lovely-product-item">Фрукты</li>
                <li class="lovely-product-item">Грибы</li>
                <li class="lovely-product-item">Ягоды</li>
                <li class="lovely-product-item">Цветы</li>
                <li class="lovely-product-item">Свежевыжатые соки</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-12">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-09.png" width="84" height="84" alt="Рыба и морепродукты">
            </div>
            <h6 class="lovely-product-name">Рыба и морепродукты</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Замороженные/Охлажденные морепродукты,</li>
                <li class="lovely-product-item">Рыба живая/охлажденная/замороженная</li>
                <li class="lovely-product-item">Ракообразные</li>
                <li class="lovely-product-item">Икра</li>
                <li class="lovely-product-item">Рыбная гастрономия</li>
                <li class="lovely-product-item">Рыбная кулинария и собственное производство</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-13">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-10.png" width="84" height="84" alt="Соки, воды и слабоалкогольные напитки">
            </div>
            <h6 class="lovely-product-name">Соки, воды и слабоалкогольные напитки</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Вода</li>
                <li class="lovely-product-item">Напитки, квас, тоник</li>
                <li class="lovely-product-item">Пиво</li>
                <li class="lovely-product-item">Слабоалкогольные напитки</li>
                <li class="lovely-product-item">Соки, нектары</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-5">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-11.png" width="84" height="84" alt="Сыры, колбасы, мясная гастрономия">
            </div>
            <h6 class="lovely-product-name">Сыры, колбасы, мясная гастрономия</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Деликатесы</li>
                <li class="lovely-product-item">Колбасные изделия</li>
                <li class="lovely-product-item">Сыры</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-6">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-12.png" width="84" height="84" alt="Товары и продукты для детей">
            </div>
            <h6 class="lovely-product-name">Товары и продукты для детей</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Заменитель материнского молока</li>
                <li class="lovely-product-item">Детские консервированные смеси</li>
                <li class="lovely-product-item">Детские молочные продукты</li>
                <li class="lovely-product-item">Детские соки, чай, вода</li>
                <li class="lovely-product-item">Детские средства гигиены</li>
                <li class="lovely-product-item">Детские сухие смеси</li>
                <li class="lovely-product-item">Игрушки</li>
            </ul>
        </div>
    </div>
    <div class="lovely-product-wrapper">
        <div class="lovely-product section-8">
            <div class="lovely-product-icon">
                <img class="lovely-product-image" src="assets/images/lovely-product-02.png" width="84" height="84" alt="Вина, ликеры и крепкий алкоголь">
            </div>
            <h6 class="lovely-product-name">Вина, ликеры и крепкий алкоголь</h6>
            <ul class="lovely-product-list">
                <li class="lovely-product-item">Вина</li>
                <li class="lovely-product-item">Водка</li>
                <li class="lovely-product-item">Коньяк и коньячные напитки</li>
                <li class="lovely-product-item">Ликёро-водочные</li>
                <li class="lovely-product-item">Крепкий алкоголь</li>
            </ul>
        </div>
    </div>
</div>
</div>
<div class="xfo-favourites__text-content-block_bottom">
    <div class="xfo-text-content-block">
        <p>Выбрать или поменять категорию можно в <a href="#">Личном кабинете</a> или по телефону бесплатной горячей линии 8-800-200-95-55.  Смена категории доступна не чаще одного раз в месяц. Если по окончанию месяца Вы не хотите менять товарную категорию для начисления дополнительных баллов, то категория начисления остается той же.</p>
        <p><small>Баллы не начисляются на карту Участника при покупке табака и табачной продукции. Данное ограничение введено на основании Федерального закон от 23.02.2013 N 15-ФЗ «Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака».</small></p>
    </div>
</div>