<div class="xfo-favourites__text-content-block_top">
    <div class="xfo-text-content-block">
        <h1>Любимые продукты</h1>
        <p>Подключайте категорию Любимых Продуктов и получайте в 5 раз больше баллов за покупку товаров выбранной категории. Подписывайтесь на получение персональных предложений – мы начислим до 20 раз больше баллов на интересные Вам продукты!</p>
        <p>Ждём Вас в ближайшем Перекрёстке за дополнительными баллами на Вашу карту Клуба Перекрёсток!</p>
        <h2>Общие правила накопления баллов</h2>
        <p>Баллы — всегда целые числа.</p>
        <p>Вы получаете баллы за покупку в сети Перекресток по курсу 1 балл за каждые полные 10 рублей (базовое правило). Для этого предъявите кассиру Карту Клуба (Основную или Дополнительную). Баллы рассчитываются на кассе автоматически. Количество баллов и их общая сумма указываются на кассовом чеке.</p>
        <h2>Любимые продукты</h2>
        <p>Вы можете получать 5 баллов за каждые полные 10 рублей при покупке продуктов выбранной категории. Товарные категории «Любимых Продуктов» перечислены ниже:</p>
    </div>
</div>
<div class="xfo-favourites__blocks">
    <img src="assets/images/favourites-blocks.png" alt="">
    <img src="assets/images/m-favourites-blocks.png" alt="">
</div>
<div class="xfo-favourites__text-content-block_bottom">
    <div class="xfo-text-content-block">
        <p>Выбрать или поменять категорию можно в <a href="#">Личном кабинете</a> или по телефону бесплатной горячей линии 8-800-200-95-55.  Смена категории доступна не чаще одного раз в месяц. Если по окончанию месяца Вы не хотите менять товарную категорию для начисления дополнительных баллов, то категория начисления остается той же.</p>
        <p><small>Баллы не начисляются на карту Участника при покупке табака и табачной продукции. Данное ограничение введено на основании Федерального закон от 23.02.2013 N 15-ФЗ «Об охране здоровья граждан от воздействия окружающего табачного дыма и последствий потребления табака».</small></p>
    </div>
</div>