include styles

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    block head
    title= pageTitle || ''
    meta(name='description' content=pageDescription || '')
    meta(name='keywords' content=pageKeywords || '')

    +styles(['club1000.css', '1000px'])
    +styles(['club320.css', '320px'])