<ul class="xfo-how-to-card">
  <li class="xfo-how-to-card__item">
    <div class="xfo-how-to-card__image">
      <img src="assets/images/mobile-app.png" alt="">
    </div>
    <span class="xfo-how-to-card__text">В мобильном приложении “Мой Перекресток”</span>
    <ul class="xfo-how-to-card__mobile-apps">
      <li class="xfo-how-to-card__mobile-apps-item">
        <a href="#" class="xfo-how-to-card__mobile-apps-link">
          <img src="assets/images/playmarket.png" alt="">
        </a>
      </li>
      <li class="xfo-how-to-card__mobile-apps-item">
        <a href="#" class="xfo-how-to-card__mobile-apps-link">
          <img src="assets/images/istore.png" alt="">
        </a>
      </li>
    </ul>
  </li>
  <li class="xfo-how-to-card__item">
    <div class="xfo-how-to-card__image">
      <img src="assets/images/site-perekrestok.png" alt="">
    </div>
    <a href="#" class="xfo-how-to-card__text">На сайте Клуба Перекресток</a>
  </li>
  <li class="xfo-how-to-card__item">
    <div class="xfo-how-to-card__image">
      <img src="assets/images/call-number.png" alt="">
    </div>
    <span class="xfo-how-to-card__text">По телефону <br>8 800 200 95 55 <br>(звонок бесплатный)
    </span>
  </li>
</ul>
