<div class="xfo-offers__heading">
    <div class="xfo-text-content-block">
        <h1>Персональные предложения</h1>
    </div>
</div>
<div class="xfo-offers__textblock">
    <div class="xfo-text-content-block">
        <p>Каждый участник Клуба Перекресток, совершавший от двух и более покупок (чеков) в сети «Перекресток» (с предъявлением карты Клуба) в течение последних 10 недель с даты формирования предложения, имеет возможность получать адресные предложения на повышенное начисление баллов или скидки на отдельные продукты, категории товаров, сумму чека или связанные с составом чека.</p>
        <p>Персональные предложения отправляются участнику периодически, но не реже 1 раза в месяц. Для получения предложений необходимо указать актуальный email или контактный номер мобильного телефона и подтвердить свое согласие на получение рассылок. Сделать это можно при регистрации в Клубе, а также с помощью <a href="#">Личного кабинета</a>. Обратите внимание, что при отсутствии или некорректном указании контактного информации доставка предложений невозможна. Также, вне зависимости от указанных контактов, Персональные предложения размещаются на дополнительном чеке.</p>
        <p><small>По одной и той же карте «Клуба Перекресток» можно совершать не более пяти операций начисления баллов в течение одного дня в одном и том же магазине «Перекресток». По одному и тому же бонусному счету можно совершать не более 15 операций начисления баллов в течение одного дня в одном и том же магазине.</small></p>
    </div>
</div>
<div class="xfo-offers__image">
    <img src="assets/images/offers.jpg" alt="@@" title=""/>
</div>