<div class="xfo-partners-slider">
  <div class="xfo-partners-slider__heading">
    <h2 class="xfo-heading">Наши партнеры</h2>
  </div>
  <div class="xfo-partners-slider__slider">
    <div class="xfo-partners-slider__button xfo-partners-slider__button_left">
      <div class="xfo-slide-button xfo-slide-button_left jso-partners-slider__button jso-partners-slider__button_prev"></div>
    </div>
    <div class="xfo-partners-slider__items-container">
      <ul class="xfo-partners-slider__items jso-partners-slider__items">
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner1.png" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">+ 7% бонусами на карту</div>
          <div class="xfo-partners-slider__description">Ozon.ru - Сладости для радости!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner2.png" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">онлайн-кинотеатр</div>
          <div class="xfo-partners-slider__description">MEGOGO — это Кино и ТВ для всех и на любой вкус</div>
        </li>
        <li class="xfo-partners-slider__item xfo-partners-slider__item_new jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
        <li class="xfo-partners-slider__item jso-partners-slider__item">
          <div class="xfo-partners-slider__logo">
            <img class="xfo-partners-slider__image" src="files/partner3.jpg" alt="" role="presentation"/>
          </div>
          <div class="xfo-partners-slider__title">магазин подарков</div>
          <div class="xfo-partners-slider__description">“Экспедиция” — в новый год с новым партнером!</div>
        </li>
      </ul>
    </div>
    <div class="xfo-partners-slider__button xfo-partners-slider__button_right">
      <div class="xfo-slide-button xfo-slide-button_right jso-partners-slider__button jso-partners-slider__button_next"></div>
    </div>
  </div>
  <div class="xfo-partners-slider__more">
    <a class="xfo-button xfo-button_rarr" href="#">Все партнеры</a>
  </div>
</div>
