<div class="xfo-partners-slider">

  <div class="xfo-partners-slider__heading">
    <h2 class="xfo-heading">Наши партнеры</h2>
  </div>

  <div class="xfo-partners-slider__wrapper">
    <div class="xfo-partners-slider__slider jso-partners-slider swiper-container">
      <ul class="xfo-partners-slider__items jso-partners-slider__items swiper-wrapper">
        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partner-item">
            <div class="xfo-partner-item__image">
              <a href="partner_s7.html"><img src="files/partner_s7.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_s7.html" class="xfo-partner-item__description">S7 Priority</a>
          </div>
        </li>
        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partner-item">
            <div class="xfo-partner-item__image">
                <a href="partner_burgerking.html"><img src="files/partner_burgerking.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_burgerking.html" class="xfo-partner-item__description">BURGER KING</a>
          </div>
        </li>
        <li class="xfo-partners-slider__item xfo-partners-slider__item_new swiper-slide">
          <div class="xfo-partner-item xfo-partner-item_new">
            <div class="xfo-partner-item__image">
                <a href="partner_dazdorov.html"><img src="files/partner_dazdorov.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_dazdorov.html" class="xfo-partner-item__description">Да Здоров</a>
          </div>
        </li>
        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partner-item">
            <div class="xfo-partner-item__image">
                <a href="partner_euroset.html"><img src="files/partner_euroset.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_euroset.html" class="xfo-partner-item__description">Евросеть</a>
          </div>
        </li>
        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partner-item xfo-partner-item_new">
            <div class="xfo-partner-item__image">
                <a href="partner_kanzler.html"><img src="files/partner_kanzler.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_kanzler.html" class="xfo-partner-item__description">Kanzler</a>
          </div>
        </li>
        <li class="xfo-partners-slider__item xfo-partners-slider__item_new swiper-slide">
          <div class="xfo-partner-item xfo-partner-item_new">
            <div class="xfo-partner-item__image">
                <a href="partner_citybank.html"><img src="files/partner_city.jpg" alt="" class="xfo-partner-item__logo"></a>
            </div>
            <span class="xfo-partner-item__title">+ 7% бонусами на карту</span>
            <a href="partner_citybank.html" class="xfo-partner-item__description">City Bank</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="xfo-partners-slider__button xfo-partners-slider__button_left">
      <div class="xfo-slide-button jso-partners-slider__button_prev">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_left" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>

    <div class="xfo-partners-slider__pagination jso-partners-slider__pagination"></div>

    <div class="xfo-partners-slider__button xfo-partners-slider__button_right">
      <div class="xfo-slide-button jso-partners-slider__button_next">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_right" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="xfo-partners-slider__more">
    <a class="xfo-button xfo-button_rarr" href="#">
      Все партнеры
      <svg class="xfo-button__arrow">
        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__rarr"></use>
      </svg>
    </a>
  </div>

</div>
