<div class="xfo-partners-slider">

  <div class="xfo-partners-slider__heading">
    <h2 class="xfo-heading">Наши партнеры</h2>
  </div>

  <div class="xfo-partners-slider__wrapper">
    <div class="xfo-partners-slider__slider jso-partners-slider swiper-container">
      <ul class="xfo-partners-slider__items jso-partners-slider__items swiper-wrapper">
        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partners-slider__image">
            <img src="files/partner1.png" alt="" class="xfo-partners-slider__logo">
          </div>
          <span class="xfo-partners-slider__title">+ 7% бонусами на карту</span>
          <a href="#" class="xfo-partners-slider__description">Ozon.ru — Сладости для радости!</a>

        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partners-slider__image">
            <img src="files/partner2.png" alt="" class="xfo-partners-slider__logo">
          </div>
          <span class="xfo-partners-slider__title">+ 7% бонусами на карту</span>
          <a href="#" class="xfo-partners-slider__description">Ozon.ru — Сладости для радости!</a>

        <li class="xfo-partners-slider__item swiper-slide">
          <div class="xfo-partners-slider__image">
            <img src="files/partner3.jpg" alt="" class="xfo-partners-slider__logo">
          </div>
          <span class="xfo-partners-slider__title">+ 7% бонусами на карту</span>
          <a href="#" class="xfo-partners-slider__description">Ozon.ru — Сладости для радости!</a>
        </li>
      </ul>
    </div>

    <div class="xfo-partners-slider__button xfo-partners-slider__button_left">
      <div class="xfo-slide-button jso-partners-slider__button_prev">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_left" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>

    <div class="xfo-partners-slider__button xfo-partners-slider__button_right">
      <div class="xfo-slide-button jso-partners-slider__button_next">
        <svg class="xfo-slide-button__icon xfo-slide-button__icon_right" >
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__slide-button"></use>
        </svg>
      </div>
    </div>
  </div>

  <div class="xfo-partners-slider__more">
    <a class="xfo-button xfo-button_rarr" href="#">
      Все партнеры
      <svg class="xfo-button__arrow">
        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__rarr"></use>
      </svg>
    </a>
  </div>

</div>
