<div class="xfo-container">
  <div class="xfo-personal-area-buttons">
    <a class="xfo-personal-area-buttons__item" href="#">
      <svg class="xfo-personal-area-buttons__icon xfo-personal-area-buttons__icon_card">
        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__personal-area-buttons-card"></use>
      </svg>
      <span class="xfo-personal-area-buttons__title">Активировать карту</span>
    </a>
    <a class="xfo-personal-area-buttons__item" href="#">
      <svg class="xfo-personal-area-buttons__icon xfo-personal-area-buttons__icon_personal-area">
        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__personal-area-buttons-user"></use>
      </svg>
      <span class="xfo-personal-area-buttons__title">Вход в личный кабинет</span>
    </a>
  </div>
</div>
