<div class="xfo-container">
  <div class="xfo-personal-area-buttons">
    <a class="xfo-personal-area-buttons__item" href="#">
      <span class="xfo-personal-area-buttons__icon xfo-personal-area-buttons__icon_card"></span>
      <span class="xfo-personal-area-buttons__title">Активировать карту</span>
    </a>
    <a class="xfo-personal-area-buttons__item" href="#">
      <span class="xfo-personal-area-buttons__icon xfo-personal-area-buttons__icon_personal-area"></span>
      <span class="xfo-personal-area-buttons__title">Вход в личный кабинет</span>
    </a>
  </div>
</div>
