<div class="xfo-personal-offers">
  <div class="xfo-personal-offers__heading">
    <h2 class="xfo-heading">Персональные предложения</h2>
  </div>
  <div class="xfo-personal-offers__textblock">
  	<p class="xfo-personal-offers__text">Каждый участник Клуба Перекресток, совершавший от двух и более покупок (чеков) в сети «Перекресток» (с предъявлением карты Клуба) в течение последних 10 недель с даты формирования предложения, имеет возможность получать адресные предложения на повышенное начисление баллов или скидки на отдельные продукты, категории товаров, сумму чека или связанные с составом чека.</p>
  	<p class="xfo-personal-offers__text">Персональные предложения отправляются участнику периодически, но не реже 1 раза в месяц. Для получения предложений необходимо указать актуальный email или контактный номер мобильного телефона и подтвердить свое согласие на получение рассылок. Сделать это можно при регистрации в Клубе, а также с помощью <a href="#" class="xfo-personal-offers__textlink">Личного кабинета</a>. Обратите внимание, что при отсутствии или некорректном указании контактного информации доставка предложений невозможна. Также, вне зависимости от указанных контактов, Персональные предложения размещаются на дополнительном чеке.</p>
  	<p class="xfo-personal-offers__text xfo-personal-offers__text_small">По одной и той же карте «Клуба Перекресток» можно совершать не более пяти операций начисления баллов в течение одного дня в одном и том же магазине «Перекресток». По одному и тому же бонусному счету можно совершать не более 15 операций начисления баллов в течение одного дня в одном и том же магазине.</p>
  </div>
  <div class="xfo-personal-offers__image">
    <img src="assets/images/offers.jpg" alt="@@" title=""/>
  </div>
</div>