<div class="xfo-popup jso-popup">
  <a class="xfo-popup__close jso-popup__close" href="#" title=""></a>
  <h4 class="xfo-popup__heading">Как стать участником Клуба Перекресток?
  </h4>
  <ul class="xfo-popup__choice-or">
    <li class="xfo-popup__choice-or-item"><img class="xfo-popup__choice-or-image" src="assets/images/mobile-app.png" alt="@@" title=""/><a class="xfo-popup__choice-or-link" href="#" title="">Скачайте мобильное приложение “Мой Перекресток”</a>
    </li>
    <li class="xfo-popup__choice-or-item"><img class="xfo-popup__choice-or-image" src="assets/images/or-card.png" alt="@@" title=""/>
      <p class="xfo-popup__choice-title">Купите карту за 49,90 на кассе
      </p>
    </li>
  </ul>
  <h4 class="xfo-popup__heading">Как активировать карту?
  </h4>
  <ul class="xfo-popup__how-to-activate">
    <li class="xfo-popup__how-to-activate-item"><img class="xfo-popup__how-to-activate-image" src="assets/images/mobile-app.png" alt="@@" title=""/>
      <p class="xfo-popup__how-to-activate-title">В мобильном приложении “Мой Перекресток”<a href="#" title=""></a><a href="#" title=""></a>
      </p>
    </li>
    <li class="xfo-popup__how-to-activate-item"><img class="xfo-popup__how-to-activate-image" src="assets/images/site-perekrestok.png" alt="@@" title=""/><a class="xfo-popup__how-to-activate-link" href="#" title="">На сайте Клуба Перекресток</a>
    </li>
    <li class="xfo-popup__how-to-activate-item"><img class="xfo-popup__how-to-activate-image" src="assets/images/call-number.png" alt="@@" title=""/><a class="xfo-popup__how-to-activate-link" href="#" title="">По телефону 8 800 200 95 55 (звонок бесплатный)</a>
    </li>
  </ul><a class="xfo-popup__club-rules-link" href="#" title="">Правила Клуба Перекресток</a>
</div>
