<!--купить в магазине-->
<div class="xfo-popup-certificates jso-popup-certificates__buy-in-shop">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-popup-certificates__buy-in-shop-close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <h3 class="xfo-popup__heading">Уважаемые покупатели!</h3>
      </div>

      <div class="xfo-popup__content">
        <div class="xfo-popup-certificates__content">
          <div class="xfo-popup-certificates__description">
            <p>Вы можете приобрести сертификаты в магазинах “Перекресток” за наличный расчет или с помощью банковской карты</p>
            <p>Номиналы начисляются на сертификаты при его оплате в виде баллов:</p>
            <ul class="xfo-popup-certificates__list">
              <li class="xfo-popup-certificates__list-item">
                <svg class="xfo-popup-certificates__list-icon">
                  <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__list-item"></use>
                </svg>
                500 руб. = 5 000 баллов
              </li>
              <li class="xfo-popup-certificates__list-item">
                <svg class="xfo-popup-certificates__list-icon">
                  <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__list-item"></use>
                </svg>
                1 000 руб. = 10 000 баллов
              </li>
              <li class="xfo-popup-certificates__list-item">
                <svg class="xfo-popup-certificates__list-icon">
                  <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__list-item"></use>
                </svg>
                3 000 руб. = 30 000 баллов
              </li>
            </ul>
            <p>Если Вы хотите приобрести большой объем сертификатов в магазинах “Перекресток”, оставьте заявку, и с Вами обязательно свяжутся.</p>
          </div>
          <form action="#" class="xfo-popup-certificates__form">
            <!--контактные данные-->
            <div class="xfo-popup-certification__contacts">
              <b class="xfo-popup-certificates__form-heading">Введите контактные данные:</b>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Имя:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Телефон:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Email:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Адрес магазина:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Комментарии:</span>
                <textarea class="xfo-popup-certificates__input xfo-popup-certificates__input_textarea"></textarea>
              </label>
            </div>
            <!--Согласие на обработку моих персональных данных-->
            <div class="xfo-popup-certificates__personal-data">
              <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                <div class="xfo-popup-certificates__checkbox">
                  <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden">
                  <svg class="xfo-popup-certificates__checkbox-icon">
                    <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                  </svg>
                </div>
                <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">Согласие на обработку моих персональных данных</span>
              </label>
            </div>

            <div class="xfo-popup-certificates__button">
              <button class="xfo-button xfo-button_green" type="submit">Отправить заявку</button>
            </div>
          </form>
        </div>
      </div>

      <div class="xfo-popup__footer">
        <div class="xfo-popup-certificates__footer">
          <a href="#" class="xfo-popup-certificates__terms jso-terms-of-use__open">Условия использования денежных сертификатов</a>
          <small class="xfo-popup-certificates__small">При необходимости Вы можете связаться с нами по адресу crm@x5.ru</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--купить по договору-->
<div class="xfo-popup-certificates jso-popup-certificates__buy-under-contract">
  <div class="xfo-container">
    <div class="xfo-popup">
      <div class="xfo-popup__header">
        <svg class="xfo-popup__close jso-popup-certificates__buy-under-contract-close">
          <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
        </svg>
        <h3 class="xfo-popup__heading">Уважаемые партнеры!</h3>
      </div>

      <div class="xfo-popup__content">
        <div class="xfo-popup-certificates__content">
          <div class="xfo-popup-certificates__description">
            <p>С помощью сертификатов “Перекресток” Вы решите проблему выбора подарков для сотрудников, коллег, клиентов и партнеров!</p>
            <p>Оформите заявку на заключение договора, и с Вами обязательно свяжутся</p>
          </div>
          <form action="#" class="xfo-popup-certificates__form">
            <!--выбор сертификата-->
            <div class="xfo-popup-certificates__choose jso-popup-certificates__choose">
              <div class="xfo-popup-certificates__row">
                <b class="xfo-popup-certificates__form-heading">Номинал, в руб:</b>
                <b class="xfo-popup-certificates__form-heading">Кол-во, шт.:</b>
              </div>
              <div class="xfo-popup-certificates__row">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden jso-popup-certificates__field_checkbox_choose" checked>
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">250</span>
                </label>
                <input type="text" class="xfo-popup-certificates__input xfo-popup-certificates__input_small xfo-popup-certificates__input_success" value="10">
              </div>
              <div class="xfo-popup-certificates__row">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden jso-popup-certificates__field_checkbox_choose">
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">500</span>
                </label>
                <input type="text" class="xfo-popup-certificates__input xfo-popup-certificates__input_small">
              </div>
              <div class="xfo-popup-certificates__row">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden jso-popup-certificates__field_checkbox_choose" checked>
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">1000</span>
                </label>
                <input type="text" class="xfo-popup-certificates__input xfo-popup-certificates__input_small xfo-popup-certificates__input_success" value="250">
              </div>
              <div class="xfo-popup-certificates__row">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden jso-popup-certificates__field_checkbox_choose">
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">1500</span>
                </label>
                <input type="text" class="xfo-popup-certificates__input xfo-popup-certificates__input_small">
              </div>
              <div class="xfo-popup-certificates__row">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden jso-popup-certificates__field_checkbox_choose">
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">3000</span>
                </label>
                <input type="text" class="xfo-popup-certificates__input xfo-popup-certificates__input_small">
              </div>
            </div>
            <!--контактные данные-->
            <div class="xfo-popup-certificates__contacts">
              <b class="xfo-popup-certificates__form-heading">Введите контактные данные:</b>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Имя:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Телефон:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Email:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Адрес магазина:</span>
                <input type="text" class="xfo-popup-certificates__input">
              </label>
              <label class="xfo-popup-certificates__field">
                <span class="xfo-popup-certificates__label">Комментарии:</span>
                <textarea class="xfo-popup-certificates__input xfo-popup-certificates__input_textarea"></textarea>
              </label>
              <!--загрузка файлов-->
              <div class="xfo-popup-certificates__file-upload">
                <b class="xfo-popup-certificates__form-heading">
                  Прикрепите файлы в форматах .pdf, .xls, .zip <br>до 500 Кбайт каждый:
                </b>
                <ul class="xfo-popup-certificates__files">
                  <li class="xfo-popup-certificates__file xfo-popup-certificates__file_uploaded">
                    <span class="xfo-popup-certificates__file-heading">Выписка ЕГРЮЛ (не старше 1 месца после выдачи)</span>
                    <div class="xfo-popup-certificates__file-uploaded">
                      <span class="xfo-popup-certificates__file-uploaded-name">Vipiska_EGRUL_32567.pdf</span>
                      <svg class="xfo-popup-certificates__file-uploaded-remove">
                        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
                      </svg>
                    </div>
                    <label class="xfo-popup-certificates__file-button">
                      <input type="file" class="xfo-popup-certificates__file-input">
                      <div type="button" class="xfo-button xfo-button_green">Загрузить</div>
                    </label>
                  </li>
                  <li class="xfo-popup-certificates__file">
                    <span class="xfo-popup-certificates__file-heading">Карточка юр. лица</span>
                    <div class="xfo-popup-certificates__file-uploaded">
                      <span class="xfo-popup-certificates__file-uploaded-name"></span>
                      <svg class="xfo-popup-certificates__file-uploaded-remove">
                        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
                      </svg>
                    </div>
                    <label class="xfo-popup-certificates__file-button">
                      <input type="file" class="xfo-popup-certificates__file-input">
                      <div type="button" class="xfo-button xfo-button_green">Загрузить</div>
                    </label>
                  </li>
                  <li class="xfo-popup-certificates__file">
                    <span class="xfo-popup-certificates__file-heading">
                      Заполненную анкету по шаблону
                      <a href="#" class="xfo-popup-certificates__link">(Скачать шаблон анкеты)</a>
                    </span>
                    <div class="xfo-popup-certificates__file-uploaded">
                      <span class="xfo-popup-certificates__file-uploaded-name"></span>
                      <svg class="xfo-popup-certificates__file-uploaded-remove">
                        <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__close"></use>
                      </svg>
                    </div>
                    <label class="xfo-popup-certificates__file-button">
                      <input type="file" class="xfo-popup-certificates__file-input">
                      <div type="button" class="xfo-button xfo-button_green">Загрузить</div>
                    </label>
                  </li>
                </ul>
              </div>
              <!--Согласие на обработку моих персональных данных-->
              <div class="xfo-popup-certificates__personal-data">
                <label class="xfo-popup-certificates__field xfo-popup-certificates__field_checkbox">
                  <div class="xfo-popup-certificates__checkbox">
                    <input type="checkbox" class="xfo-popup-certificates__checkbox-hidden" checked>
                    <svg class="xfo-popup-certificates__checkbox-icon">
                      <use xlink:href="assets/images/xfo-svg__icons.svg#xfo-svg__checkbox-tick"></use>
                    </svg>
                  </div>
                  <span class="xfo-popup-certificates__label xfo-popup-certificates__label_checkbox">Согласие на обработку моих персональных данных</span>
                </label>
              </div>
            </div>
            <div class="xfo-popup-certificates__button">
              <button class="xfo-button xfo-button_green" type="submit">Отправить заявку</button>
            </div>
          </form>
        </div>
      </div>

      <div class="xfo-popup__footer">
        <div class="xfo-popup-certificates__footer">
          <a href="#" class="xfo-popup-certificates__terms jso-terms-of-use__open">Условия использования денежных сертификатов</a>
          <small class="xfo-popup-certificates__small">При необходимости Вы можете связаться с нами по адресу crm@x5.ru</small>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Условия использования денежных сертификатов-->
//= terms-of-use-popup.html
