<div class="xfo-program">
  <h2 class="xfo-program__heading">Клуб Перекресток — это выгодная накопительная программа</h2>
  <div class="xfo-program__pattern-bg"></div>
  <ul class="xfo-program__bonuses">
    <li class="xfo-program__bonuses-item">
      <div class="xfo-program__bonuses-program-bg">
        <img class="xfo-program__bonuses-image" src="assets/images/program1.png" alt="@@" title=""/>
        <p class="xfo-program__bonuses-description">Персональные скидки</p>
      </div>
    </li>
    <li class="xfo-program__bonuses-item">
      <div class="xfo-program__bonuses-program-bg">
        <img class="xfo-program__bonuses-image" src="assets/images/program2.png" alt="@@" title=""/>
        <p class="xfo-program__bonuses-description">Больше баллов за любимые продукты</p>
      </div>
    </li>
    <li class="xfo-program__bonuses-item">
      <div class="xfo-program__bonuses-program-bg">
        <img class="xfo-program__bonuses-image" src="assets/images/program3.png" alt="@@" title=""/>
        <p class="xfo-program__bonuses-description">Больше баллов в День Рождения</p>
      </div>
    </li>
  </ul>
</div>
