include container

mixin program()
  +b.xfo-program
    +container()

      +e('h2').heading
        | Клуб Перекресток — это выгодная накопительная программа

      +e.pattern-bg

      +e('ul').bonuses
        +e('li').bonuses-item
          +e('img')(src="assets/images/program1.png" alt="@@").bonuses-image
          +e('p').bonuses-description
            | Персональные скидки

        +e('li').bonuses-item
          +e('img')(src="assets/images/program2.png" alt="@@").bonuses-image
          +e('p').bonuses-description
            | Больше баллов за любимые продукты

        +e('li').bonuses-item
          +e('img')(src="assets/images/program3.png" alt="@@").bonuses-image
          +e('p').bonuses-description
            | Больше баллов в День Рождения
