.xfo-select {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #c6e0ad;
  border-radius: 5px;

  &__field {
    display: block;
    margin: 0;
    padding: 14px 44px 14px 14px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    appearance: none;
    color: #000;
    font-size: 17px;
    font-family: GothicBook, sans-serif;
    cursor: pointer;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    display: block;
    pointer-events: none;
    @include svgSize($xfo-svg__select-caret...);
    fill: none;
    stroke: #71be44;
    stroke-width: 2px;
    fill-rule: evenodd;
  }
}
