@import "cards";

.xfo-cards {
  margin-top: 16px;
    
  &__infographic {
    height:82px;
  }

  &__item {
    border-top: 1px solid #e2e2e2;
    padding: 30px 0;
    display: inline-flex;
    position: relative;
    align-items: flex-start;
  }

  &__heading {
    width:100%;
    margin-top:1px;
  }

  &__image {
    position:absolute;
    left:0;
    top:30px;
    width: 388px;
    height: 247px;
  }

  &__for-cols {
    min-height:247px;
    padding-left:426px;

    h3 {
      margin-top: -4px;
      font-size: 24px;
      color: #008136;
      text-align: left;
      margin-bottom:38px;
    }

    &-column {
      width: 224px;

      img {
        margin-bottom: 30px;
      }

      p {
        margin-top: 0;
        font: 17px 'Rotonda';
        margin-bottom:10px;
      }

    }

  }
}
