@import "common";

.xfo-cards {
  margin-top: 0px;

  &__item {
    border-top: 1px solid #e2e2e2;
    padding: 30px 0;
    display: block;
    width: 100%;
  }

  &__item:nth-child(1) {
    margin-top: 20px;
  }

  &-heading {
    display: block;
    margin-bottom: 20px;
  }

  &__image {
    margin-right: 0;
    width: 100%;
    height: 177px;
  }

  &__btn-m {
    margin-bottom: 20px;
  }

  &__card-title {
    margin-top: -4px;
    font-size: 17px;
    color: #48803e;
    text-align: center;
    font: 17px 'Rotonda';
    font-weight: bold;
  }

  &__for-cols {

    width: 100%;
    display: inline-flex;

    &-column {
      margin-top: 8px;
      margin-right: 0px;
      width: 50%;
      height: 108px;

      &:last-child {
        margin-left: 20px;
      }

      img {
        width: 103px;
        height: 44px;
        margin-bottom: 0px;
      }

      p {
        font: 14px 'Rotonda';
        color: #666666;
      }

      a {
        height: 40px;
      }

    }

  }

}
