.xfo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c6e0ad;
  text-decoration: none;
  background-color: transparent;
  font-size: 17px; // TODO заменить на REM/EM
  font-family: GothicBook, sans-serif;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  transition: .25s ease;

  &:hover {
    background-color: #f5f5f5;
  }

  &_green {
    background-color: #2dc033;
    color: #ffffff;
    border: 0;

    &:hover {
      background-color: #008a46;
    }
  }

  &__arrow {
    margin-left: 7px;
    @include svgSize($xfo-svg__rarr...);
    fill: #71be44;
    fill-rule: evenodd;
  }
}
