mixin head(mob)
  head
    meta(charset='utf-8')
    unless mob
      meta(name='viewport' content='width=device-width')
    if mob
      meta(name='viewport' content='width=320px')

    block head
    title= pageTitle || ''
    meta(name='description' content=pageDescription || '')
    meta(name='keywords' content=pageKeywords || '')

    block
