@import "buy-card";

.xfo-buy-card {
  justify-content: space-around;
  padding: 0 15px;

  &__image {
    height:206px;        
  }

  &__button {
    margin-top: 30px;
    min-width: 224px;
  }
    
  &__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
  }
}
