@import "buy-card";

.xfo-buy-card {
  justify-content: space-around;

  &__image {
    height:212px;        
  }

  &__button {
    margin-top: 24px;
    width: 224px;
  }
    
  &__item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100%;
  }
}
