@import "common";

.xfo-buy-card {
  flex-direction: column;

  &__item {

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    width: 100%;
  }

  &__button {
    margin-top: 20px;
    width: 100%;
  }
}
