.xfo-buy-card {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__image {
    height: auto;
    border: 1px solid #e8e8e8;
    border-radius: 14px;
  }

  &__button {
    height: 40px;
  }
}
