@import "common";

$links-color: #4c4c4c;
$links-hover-color: #b1d235;

.xfo-header {

  &__top {
    justify-content: space-between;
    margin-top: 8px;

    &-menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {

        &:not(:last-child)::after {
          content: '\00B7';
          padding: 0 7px 0 2px;
          color: #b1d235;
          font-size: 15px;
        }
      }

      &-link {
        font-size: 15px; // TODO заменить на EM / REM
        font-family: GothicBook, sans-serif;
        color: $links-color;
        text-decoration: none;
        transition: color .25s ease;

        &:hover {
          color: $links-hover-color;
        }
      }
    }
  }

  &__address {
    display: flex;
    align-items: center;
    align-self: center;
    font-family: GothicBook, sans-serif;
    font-size: 15px; // TODO заменить на EM / REM
    color: $links-color;

    &::before {
      content: '';
      display: block;
      @extend %xfo-header_address;
      margin-right: 9px;
    }

    &-abbr {
      color: #b2b2b2;
    }
  }

  &__phones {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      padding-left: 10px;
      border-right: 1px solid rgba(0, 0, 0, .1);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border: 0;
      }
    }

    &-title {
      font-size: 12px; // TODO заменить на EM / REM
      font-family: GothicBook, sans-serif;
      color: #999999;
    }

    &-phone {
      font-size: 17px; // TODO заменить на EM / REM
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      color: #808080;
      text-decoration: none;
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
  }

  &__search-form {
    margin: 0 auto 0 27px;
    display: block;
    width: 100%;
    height: 40px;
  }

  &__cart-widget {
    margin-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    &-item {

      &:not(:last-of-type) {
        margin-right: 16px;
      }
    }

    &-price {
      padding-left: 10px;
      font-size: 27px; // TODO заменить на EM / REM
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;

      &-kop {
        font-size: 17px; // TODO заменить на EM / REM

        &::before {
          content: ',';
        }

        &::after {
          content: ' ₽';
        }
      }
    }
  }

  &__bottom {
    justify-content: space-between;
    margin-top: 12px;

    &-menu {
      display: flex;
      align-items: center;
      margin: 0 0 0 28px;
      padding: 0;
      list-style: none;

      &-item {
        position: relative;
        display: block;
        height: 100%;
        color: #005725;

        &:not(:last-child) {
          margin-right: 40px;
        }

        &:hover {
          color: #a6ce39;
        }

        &_dropdown {

          &:hover > .xfo-header__bottom-menu-dropdown-items {
            visibility: visible;
            opacity: 1;
          }

          &:hover .xfo-header__bottom-menu-link_dropdown::after {
            transform: rotate(180deg);
          }

        }

      }

      &-link {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 17px; // TODO заменить PX на REM/EM
        font-family: Rotonda, sans-serif;
        font-weight: bold;
        color: inherit;
        text-decoration: none;
        transition: color .25s ease;

        &_dropdown {

          &::after {
            content: '';
            display: block;
            margin-left: 12px;
            margin-right: 12px;
            @extend %xfo-caret;
          }

        }
      }

      &-dropdown {

        &-items {
          position: absolute;
          top: 100%;
          left: 0;
          visibility: hidden;
          opacity: 0;
          margin: 0;
          padding: 15px 20px;
          width: 250px;
          border-radius: 5px;
          box-shadow: 0 0 25px rgba(0, 0, 0, .2);
          box-sizing: border-box;
          background-color: #fff;
          list-style: none;
          z-index: 100;
          transition: .25s ease;
        }

        &-item {
          display: block;
        }

        &-link {
          display: block;
          padding: 10px;
          border: 1px solid transparent;
          text-decoration: none;
          font-size: 15px; // TODO Заменить на REM / EM
          font-family: GothicBook, sans-serif;
          color: $links-color;
          transition: .25s ease;

          &:hover {
            background-color: #f9faf5;
            border-color: #f2f2f2;
            color: #333;
          }

        }
      }
    }
  }

  &__catalog {
    padding: 13px 0;
    z-index: 100;

    &-button {
      padding: 0 12px;
      width: 240px;
      height: 32px;
      box-sizing: border-box;
      font-size:17px; // TODO ЗАМЕНИТЬ НА EM / REM
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      color: #ffffff;

      &-title {
        display: block;
        width: 100%;
        text-align: center;
      }

    }

    &-content {
      position: absolute;
      top: 100%;
      left: 0;
      visibility: hidden;
      opacity: 0;
      transition: .25s ease;

      &_active {
        visibility: visible;
        opacity: 1;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, .5);
        z-index: 120;
      }
    }

    &-items {
      display: block;
      margin: 0;
      padding: 0;
      min-width: 275px;
      height: 100%;
      background-color: #fff;
      list-style: none;

      &_next {
        position: absolute;
        top: 0;
        left: 100%;
        border-left: 1px solid #f2f2f2;
        visibility: hidden;
        opacity: 0;
        transition: .25s ease;
      }
    }

    &-item {
      display: block;
      padding-left: 8px;
      padding-right: 8px;

      &:first-of-type {
        padding-top: 5px;
      }

      &:last-of-type {
        padding-bottom: 5px;
      }

      &:hover > .xfo-header__catalog-items {
        visibility: visible;
        opacity: 1;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      padding: 7px 10px;
      width: 100%;
      background-color: #fff;
      color: $links-color;
      font-size: 15px; // TODO ЗАМЕНИТЬ PX НА REM / EM
      font-family: GothicBook, sans-serif;
      text-decoration: none;
      box-sizing: border-box;
      border: 1px solid transparent;

      &:hover {
        background-color: #f9faf5;
        border-color: #f2f2f2;
      }

      &_next::after {
        content: '';
        display: block;
        margin-left: auto;
        @extend %xfo-caret;
        transform: rotate(-90deg);
      }
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 13px 0;
    list-style: none;

    &-item {
      display: flex;
      padding: 4px 0;

      &:not(:last-child)::after {
        content: '';
        margin-left: 10px;
        margin-right: 10px;
        color: #b1d235;
        border-right: 1px solid #e8e8e8;
        font-size: 15px;
      }
    }

    &-link {
      font-size: 15px; // TODO заменить на EM / REM
      font-family: GothicBook, sans-serif;
      color: $links-color;
      text-decoration: none;
      transition: color .25s ease;

      &:hover {
        color: $links-hover-color;
      }
    }
  }
}
