@import "common";

.xfo-header {

  &__top {
    justify-content: center;
    margin-top: 10px;
  }

  &__bottom {
    align-items: center;
    margin: 17px 0 8px 0;
  }

  &__catalog {
    padding: 0;

    &-button {
      padding: 12px 11px;
      width: 42px;
      height: 39px;
      box-sizing: border-box;
    }
  }

  &__cart-widget {

    &-item {

      &_favorites {
        margin-left: 14px;
        width: 33px;
        height: 28px;
      }

      &_cart {
        margin-left: 19px;
        width: 40px;
        height: 28px;
      }
    }

    &-icon {

      &_favorites {
        width: 25px;
        height: 22px;
        background: url('../images/favorites.svg');
        background-size: cover;
      }

      &_cart {
        width: 29px;
        height: 23px;
        background: url('../images/cart.svg');
        background-size: cover;
      }
    }

    &-count {
      width: 17px;
      height: 17px;
    }
  }

  &__logo {
    margin: 0 auto;
    padding-left: 10px;
  }

  &__search-form {
    margin-left: auto;
  }
}
