$links-color: #4c4c4c;

.xfo-header {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #f2f2f2;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #005825 linear-gradient(
        to right,
        #005825 0%, #005825 30%,
        #239e5e 30%, #239e5e 30.1%,
        #04a651 30.1%, #04a651 38%,
        #72c160 38%, #72c160 38.1%,
        #70be43 38.1%, #70be43 68%,
        #b7d861 68%, #b7d861 68.1%,
        #b1d234 68.1%, #b1d234 100%
    );
  }

  &__top {
    display: flex;
    width: 100%;
  }

  &__cart-widget {

    &-item {
      position: relative;
      display: block;
      height: 34px;

      &_favorites {
        width: 46px;
      }

      &_cart {
        width: 51px;
      }
    }

    &-icon {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;

      &_favorites {
        width: 33px;
        height: 28px;
        background-image: url('../images/favorites.png');
      }

      &_cart {
        width: 33px;
        height: 30px;
        background-image: url('../images/cart.png');
      }
    }

    &-count {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #ff5721;
      font-size: 15px; // TODO заменить на EM / REM
      font-family: GothicBook, sans-serif;
      color: #ffffff;
    }

  }

  &__bottom {
    display: flex;
    width: 100%;
  }

  &__catalog {
    position: relative;
    z-index: 800;
    display: block;

    &-button {
      display: flex;
      align-items: center;
      border-radius: 5px;
      background-color: #b1d235;
      cursor: pointer;

      &-burger {
        display: block;
        width: 19px;
        height: 14px;
        background-image: url('../images/burger.png');
      }
    }
  }
}
