@import "partner";

.xfo-partner {

  &__banner {
    height: 375px;

    &-icon {
      width: 100px;
      height: 100px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;

    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 240px;
      padding: 5px 18px;
      background-color: #f7f7f7;
      border-radius: 20px;
      height: 40px;
      box-sizing: border-box;
      font-family: Rotonda, sans-serif;
      font-size: 17px;
      color: #4c4c4c;
      text-decoration: none;
      transition: all .25s ease-in-out;

      &:hover {
        background-color: darken(#f7f7f7, 3%);
      }
    }

    &-icon {
      @include svgSize($xfo-svg__rarr...);
      fill: #71be44;

      &_left {
        margin-right: 15px;
        transform: rotate(180deg);
      }

      &_right {
        margin-left: 15px;
      }
    }
  }

  &__content {
    display: block;
    margin-top: 33px;
    font-family: GothicBook, sans-serif;
    color: #4c4c4c;
    font-size: 17px;
    line-height: 23px;
  }

  &__heading {
    font-size: 17px;

    &_lvl2 {
      font-size: 30px;
    }

    &_lvl3 {
      font-size: 24px;
    }
  }

  &__text {
    margin: 32px 0 35px 0;
  }

  &__list {
    margin: 27px 0 0 0;

    &-item {
      margin-bottom: 35px;

      &::before {
        margin-right: 30px;
        width: 10px;
      }
    }
  }
}
