@import "partner";

.xfo-partner {

  &__banner {
    height: 130px;

    &-icon {
      width: 70px;
      height: 70px;
    }
  }

  &__pagination {
    display: none;
  }

  &__content {
    margin-top: 57px;
    font-size: 15px;
  }

  &__heading {

    &_lvl2 {
      font-size: 24px;
    }

    &_lvl3 {
      font-size: 17px;
    }
  }

  &__text {
    margin-top: 19px;
    line-height: 1.5;
  }

  &__list {
    margin: 14px 0 0 0;
    padding-bottom: 1px;

    &-item {
      margin-bottom: 21px;
      line-height: 1.5;

      &::before {
        margin-right: 21px;
      }
    }
  }
}
