.xfo-partner {

  &__banner {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;

    &-icon {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      display: block;
      object-fit: cover;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-height: 100%;
    }
  }
    
  &__table {
      .xfo-partner__text {
          margin: 6px 0;
      }
      td+td {
          padding-left: 40px;
      }
      tr:first-child td {
          padding-bottom: 20px;
      }
  }

  &__content {
    display: block;
    font-family: GothicBook, sans-serif;
    color: #4c4c4c;
  }
    
  &__text a {
    color: inherit;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &__heading {
    margin: 0;
    padding: 0;
    font-family: Rotonda, sans-serif;
    font-weight: 700;
    color: #000;

    &_lvl2 {
      color: inherit;
    }

    &_lvl3 {
      margin-top: 30px;
    }
      
    &_table {
        margin-top: 0;
        font-size: 20px;
    }
  }

  &__list {
    display: block;
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 17px;
      width: 100%;
    }

    &-icon {
      margin-top: 5px;
      margin-right: 28px;
      flex: 0 0 auto;
      fill: #71be44;
      @include svgSize($xfo-svg__list-item...);
    }
  }
}
