.xfo-slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  background-color: #2dc033;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: .25s ease;

  &:hover {
    background-color: #008a46;
  }

  &__icon {
    @include svgSize($xfo-svg__slide-button...);
    stroke: #fff;
    stroke-linecap: round;
    stroke-width: 1.5px;
    fill-rule: evenodd;
    fill: none;


    &_left {
      margin: 0 4px 0 0;
    }

    &_top {
      margin: 0 0 1px 0;
      transform: rotate(90deg);
    }

    &_right {
      margin: 0 0 0 4px;
      transform: rotate(180deg);
    }

    &_bottom {
      margin: 4px 0 0 0;
      transform: rotate(270deg);
    }

  }
}
