include ../container/desktop

mixin personal-area-buttons()
  +container()
    +b('section').xfo-personal-area-buttons
      +e('a')(href='#').item
        +e('span').icon._card
        +e('span').title
          | Активировать карту

      +e('a')(href='#').item
        +e('span').icon._personal-area
        +e('span').title
          | Вход в личный кабинет
