@import "common";

.xfo-footer {
  padding: 50px 0;
  background: #f7f7f7;

  &__navigation {
    display: block;

  }

  &__for-list {
    width: 245px;
    margin: 0;
    padding: 0;
    list-style: none;

    &:last-child {
      width: 225px;
    }

  }

  &__navigation-link {
    font: 15px 'GothicBook';
    line-height: 18px;
    color: #000;
    text-decoration: none;
    &_active {
      font-weight: 700;
    }
  }

  &__other-info {
    margin-top: 30px;
    display: block;

  }

  &__dev-by {
    width: 100%;
  }

  &__dev-by-img {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 24px;
  }

  &__promo-interactive {
    padding-top: 26px;
    border-top: 1px solid #e6e6e6;
    display: block;
    margin: 20px 0 0 30px;
    width: 218px;
    height: 40px;
    font: 14px 'tahoma';
    color: #999999;
    line-height: -2px;
    display: inline-flex;
    justify-content: space-between;
  }

  &__promo-text {
    margin-top: 0px;
  }

  &__socials-payments {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
    width: 100%;
    display: block;
  }

  &__socials {
    width: 100%;
    display: inline-flex;
  }

  &__socials-item {
    list-style: none;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;

    img {
      margin: 9px 10px;
      width: 23px;
      height: 23px;
    }
  }

  &__socials-item-link {
    display: block;
    width: 50px;
    height: 50px;
  }

  &__types-of-payment {
    display: inline-flex;
    margin-left: 50px;
    width: 180px;
    height: 26px;
  }

  &__types-of-payment-item {
    list-style: none;

  }

  &__types-of-payment-image {
    width: 43px;
    height: 26px;
  }

  &__for-list:nth-child(3) {
    margin-top: 20px;
  }

}
