.xfo-footer {
  padding: 37px 0;
  background: #f7f7f7;

  &__navigation {
    display: flex;
    justify-content: space-between;
  }

  &__for-list {
    width: 245px;
    margin: 0;
    padding: 0;
    list-style: none;

    &:last-child {
      width: 225px;
    }

  }

  &__navigation-link {
    font: 15px 'GothicBook';
    line-height: 30px;
    color: #000;
    text-decoration: none;
    &_active {
      font-weight: 700;
    }
  }

  &__other-info {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
  }

  &__dev-by {
    width:244px;

  }

  &__dev-by-image {
    margin-top: 2px;
    height: 33px;
  }

  &__promo-interactive {
    margin-top: 22px;
    width: 208px;
    height: 40px;
    font: 14px 'tahoma';
    color: #999999;
    line-height: -2px;
    display: flex;
    justify-content: space-between;
  }

  &__promo-text {
    margin-top: 0px;
  }

  &__socials-payments {
    margin-right: 30px;
    list-style: none;
    width: 480px;
    display: flex;
    justify-content: space-between;
  }

  &__socials {
    margin-top: -3px;
    margin-right: 10px;
    width: 245px;
    display: inline-flex;

  }

  &__socials-item {
    list-style: none;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;

    img {
      margin: 10px 12px;
    }
  }

  &__socials-item-link {
    display: block;
    width: 50px;
    height: 50px;
  }

  &__types-of-payment {
    margin-top: 0px;
    display: inline-flex;
    width: 180px;
    height: 40px;
  }

  &__types-of-payment-item {
    list-style: none;
  }


}
