.xfo-terms-of-use-popup {
  width: 100%;
  display: none;

  &_active {
    display: block;
  }
  
  &__heading {
    width: 685px;
    margin: 0 auto;
  }

  &__content {
    color: #000;
    font-family: GothicBook, sans-serif;
    font-size: 16px;
    width: 685px;
    margin: 0 auto;

    h2 {
      margin: 0 0 40px 0;
      font-size: 20px;
      font-style: inherit;
      font-weight: 700;
    }

    p {
      margin: 0 0 40px 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        margin-bottom: 40px;

        &::before {
          content: '';
          display: block;
          margin-top: 5px;
          margin-right: 30px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: #000;
        }
      }
    }
  }
}
