include ../../../../node_modules/bemto.pug/bemto
include ../../helpers/head
include ../../helpers/styles

doctype html
html(lang='ru')
  +head()
    +styles(['club320.css'])

  body
    block content
