.xfo-personal-area-buttons {
  display: flex;

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #005826;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      transform: translateY(-50%);
      background-image: url('../images/card_pattern.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__icon {
    display: block;
    align-self: center;
    background-size: cover;
    fill: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    margin: auto;
  }

  &__title {
    display: block;
    padding: 0 15px;
    font-family: Rotonda, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    word-break: break-all;
  }
}
