@import "breadcrumbs";

.xfo-breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    color: #999999;
    font-size: 15px; // TODO Заменить на REM / EM
    font-family: GothicBook, sans-serif;

    &:not(:last-child)::after {
      content: '/';
      padding: 0 6px;
      font-size: inherit;
    }
  }

  &__link {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &:hover {
      color: #b1d235;
    }
  }
}
