@import "personal-offers";

.xfo-personal-offers {
	.xfo-heading {font-size: 30px;}
	&__textblock {width: 50%; padding-right: 25px;}
	&__image {width: 49%; padding-top: 4px;
		img {width: 104%;}
	}
	&__text {font-size: 17px; line-height: 1.45em;
		&_small {font-size: 15px;}
	}
}