@import "index";

.xfo-index {

  &__breadcrumbs {
    margin-top: 27px;
  }

  &__banner-slider {
    margin-top: 13px;
  }

  &__personal-area-buttons {
    margin-top: 33px;
  }

  &__program {
    margin-top: 42px;
  }

  &__cards {
    margin-top: 46px;
  }

  &__partners-slider {
    margin-top: 38px;
  }
}
