.xfo-index {

  &__breadcrumbs {
    margin-top: 13px;
  }

  &__banner-slider {
    margin-top: 13px;
  }

  &__personal-area-buttons {
    margin-top: 33px;
  }

  &__program {
    margin-top: 42px;
  }

  &__partners-slider {
    margin-top: 55px;
  }
}
