@import "global/main";
@import "blocks/container";
@import "blocks/index";
@import "blocks/logo";
@import "blocks/search-form";
@import "blocks/header";
@import "blocks/breadcrumbs";
@import "blocks/banner-slider";
@import "blocks/button";
@import "blocks/heading";
@import "blocks/slide-button";
@import "blocks/banner-slider";
@import "blocks/personal-area-buttons";
@import "blocks/partners-slider";
@import "blocks/program";
