@import "global/main";
@import "blocks/container/320";
@import "blocks/index/320";
@import "blocks/logo/320";
@import "blocks/search-form/320";
@import "blocks/header/320";
@import "blocks/breadcrumbs/320";
@import "blocks/banner-slider/320";
@import "blocks/button/320";
@import "blocks/heading/320";
@import "blocks/slide-button/320";
@import "blocks/banner-slider/320";
@import "blocks/personal-area-buttons/320";
@import "blocks/partners-slider/320";
@import "blocks/program/320";
@import "blocks/cards/320";
@import "blocks/message/320";
@import "blocks/buy-card/320";
@import "blocks/certificates/320";
@import "blocks/footer/320";
