@import "global/main";
@import "blocks/container/1000";
@import "blocks/index/1000";
@import "blocks/logo/1000";
@import "blocks/search-form/1000";
@import "blocks/header/1000";
@import "blocks/breadcrumbs/1000";
@import "blocks/banner-slider/1000";
@import "blocks/button/1000";
@import "blocks/heading/1000";
@import "blocks/slide-button/1000";
@import "blocks/banner-slider/1000";
@import "blocks/personal-area-buttons/1000";
@import "blocks/partners-slider/1000";
@import "blocks/program/1000";
@import "blocks/cards/1000";
@import "blocks/footer/1000";
@import "blocks/message/1000";
@import "blocks/buy-card/1000";
@import "blocks/certificates/1000";
@import "blocks/popup/1000";

