@import "global/main";
@import "blocks/container/1000";
@import "blocks/select/1000";
@import "blocks/how-to-card/1000";
@import "blocks/about-cards-popup/1000";
@import "blocks/index/1000";
@import "blocks/breadcrumbs/1000";
@import "blocks/banner-slider/1000";
@import "blocks/button/1000";
@import "blocks/heading/1000";
@import "blocks/slide-button/1000";
@import "blocks/banner-slider/1000";
@import "blocks/personal-area-buttons/1000";
@import "blocks/partner-item/1000";
@import "blocks/pagination/1000";
@import "blocks/partners-slider/1000";
@import "blocks/program/1000";
@import "blocks/cards/1000";
@import "blocks/message/1000";
@import "blocks/buy-card/1000";
@import "blocks/popup-overlay/1000";
@import "blocks/popup/1000";
@import "blocks/popup-certificates/1000";
@import "blocks/terms-of-use-popup/1000";
@import "blocks/certificates/1000";
@import "blocks/offers/1000";
@import "blocks/favourites/1000";
@import "blocks/categories/1000";
@import "blocks/calc-points-popup/1000";
@import "blocks/partners/1000";
@import "blocks/text-content-block/1000";
@import "blocks/partner/1000";
@import "blocks/bank-cards-popup/1000";
@import "blocks/bank-cards/1000";
@import "blocks/coupon/1000";
@import "blocks/lovely-products/1000";

