@import "categories";

.xfo-categories {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    margin-bottom: 35px;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__link {
    text-decoration: none;
    font-family: Rotonda, sans-serif;
    transition: all .25s ease-in-out;
    padding: 13px 19px;
    border-radius: 5px;
    color: #4c4c4c;

    &:hover {
      background-color: #f1f1f1;
    }

    &_active {
      background-color: #f1f1f1;
    }
  }
}
