extends ../../templates/club/layout-default/desktop
include ../../templates/club/header/desktop
include ../../templates/club/index/desktop
include ../../templates/club/breadcrumbs/desktop
include ../../templates/club/banner-slider/desktop
include ../../templates/club/personal-area-buttons/desktop
include ../../templates/helpers/scripts
include ../../templates/club/button/desktop
include ../../templates/club/heading/desktop
include ../../templates/club/program/desktop
include ../../templates/club/cards/desktop
include ../../templates/club/partners-slider/desktop
include ../../templates/club/footer/desktop

block head
    - var pageTitle = 'О Клубе'

block content
    +header()
    +index()
      +e.breadcrumbs
        +breadcrumbs([{ path: '#', title: 'Главная' }, { path: '#', title: 'О клубе' }])
      +e.banner-slider
        +banner-slider()
      +e.personal-area-buttons
        +personal-area-buttons()
      +e.program
        +program()
      +e.cards
        +cards()
      +e.partners-slider
        +partners-slider()
      +e.footer
        +footer()
    +scripts(['index.js'])
