extends ../../templates/club/layout-default
include ../../templates/club/header
include ../../templates/club/breadcrumbs
include ../../templates/club/banner-slider
include ../../templates/club/personal-area-buttons
include ../../templates/club/scripts
include ../../templates/club/button
include ../../templates/club/heading
include ../../templates/club/program

block head
    - var pageTitle = 'О Клубе'

block content
    +header()
    +breadcrumbs([{ path: '#', title: 'Главная' }, { path: '#', title: 'О клубе' }])
    +banner-slider()
    +personal-area-buttons()
    +program()
    +scripts(['index.js'])
