extends ../../templates/club/layout-default
include ../../templates/club/scripts
include ../../templates/club/button

block head
    - var pageTitle = 'Главная'

block content
    p
      +button() Button

    p
      +button(true)(href='#') Link

    p
      +button()._green Button

    p
      +button(true)(href='#')._green Link

    +scripts(['index.js'])
