extends ../../templates/club/layout-default/mobile
include ../../templates/club/header/mobile
include ../../templates/club/certificates/mobile
include ../../templates/club/banner-slider/mobile
include ../../templates/club/container/mobile
include ../../templates/club/message/mobile
include ../../templates/club/buy-card/mobile
include ../../templates/helpers/scripts
include ../../templates/club/footer/mobile


block head
    - var pageTitle = 'Сертификаты - мобильная версия'

block content
    +header()
    +certificates()
      +e.banner-slider
        +banner-slider()
      +container()
        +e.message
          +message('h2')
            strong Скоро 8 марта!
            = ' '
            | Порадуйте дорогих женщин приятным сюрпризом — подарочным сертификатом
            = ' '
            strong "Перекресток"!
      +e.buy-card
        +buy-card()
      +e.footer
        +footer()
    +scripts(['certificates.js'])
