extends ../../templates/club/layout-default/mobile
include ../../templates/club/header/mobile
include ../../templates/club/index/mobile
include ../../templates/club/banner-slider/mobile
include ../../templates/club/personal-area-buttons/mobile
include ../../templates/club/partners-slider/mobile
include ../../templates/club/program/mobile
include ../../templates/club/cards/mobile
include ../../templates/club/footer/mobile
include ../../templates/helpers/scripts

block head
  - var pageTitle = 'О Клубе - мобильная версия'

block content
  +header()
  +index()
    +e.banner-slider
      +banner-slider()
    +e.personal-area-buttons
      +personal-area-buttons()
    +e.program
      +program()
    +e.cards
      +cards()
    +e.partners-slider
      +partners-slider()
    +e.footer
      +footer()
  +scripts(['index.js'])
