extends ../../templates/club/layout-default/mobile
include ../../templates/club/header/mobile
include ../../templates/club/index/mobile
include ../../templates/helpers/scripts

block head
  - var pageTitle = 'О Клубе - мобильная версия'

block content
  +header()
  +scripts(['index.js'])
