extends ../../templates/club/layout-default/mobile
include ../../templates/club/header/mobile
include ../../templates/club/index/mobile
include ../../templates/club/banner-slider/mobile
include ../../templates/helpers/scripts

block head
  - var pageTitle = 'О Клубе - мобильная версия'

block content
  +header()
  +index()
    +e.banner-slider
      +banner-slider()

  +scripts(['index.js'])
