extends ../../templates/club/layout-default/mobile
include ../../templates/club/header/mobile
include ../../templates/club/index/mobile
include ../../templates/helpers/scripts
include ../../templates/club/program/mobile

block head
  - var pageTitle = 'О Клубе - мобильная версия'

block content
  +header()

  +program()
  +scripts(['index.js'])
