include ../container/desktop
include ../heading/desktop
include ../slide-button/desktop
include ../button/desktop

mixin partners-slider()
  +container()
    +b.xfo-partners-slider
      +e.heading
        +heading('h2')
          | Наши партнеры
      +e.slider
        +e.button._left
          +slide-button()._left.jso-partners-slider__button_prev

        +e.items-container
          +e('ul').items.jso-partners-slider__items
            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner1.png').image
              +e.title
                | + 7% бонусами на карту
              +e.description
                | Ozon.ru - Сладости для радости!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner2.png').image
              +e.title
                | онлайн-кинотеатр
              +e.description
                | MEGOGO — это Кино и ТВ для всех и на любой вкус

            +e.item._new.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

            +e.item.jso-partners-slider__item
              +e.logo
                +e('img')(src='files/partner3.jpg').image
              +e.title
                | магазин подарков
              +e.description
                | “Экспедиция” — в новый год с новым партнером!

        +e.button._right
          +slide-button()._right.jso-partners-slider__button_next

      +e.more
        +button(true)(href='#')
          | Все партнеры
