include ../container/mobile
include ../heading/mobile
include ../slide-button/mobile
include ../button/mobile

mixin partners-slider()
  +container()
    +b.xfo-partners-slider
      +e.heading
        +heading('h2')
          | Наши партнеры
      +e.slider
        +e('ul').items.jso-partners-slider__items
          +e.item.jso-partners-slider__item
            +e.logo
              +e('img')(src='files/partner1.png').image
            +e.title
              | + 7% бонусами на карту
            +e.description
              | Ozon.ru - Сладости для радости!

          +e.item.jso-partners-slider__item
            +e.logo
              +e('img')(src='files/partner2.png').image
            +e.title
              | онлайн-кинотеатр
            +e.description
              | MEGOGO — это Кино и ТВ для всех и на любой вкус

          +e.item.jso-partners-slider__item
            +e.logo._new
              +e('img')(src='files/partner3.jpg').image
            +e.title
              | магазин подарков
            +e.description
              | “Экспедиция” — в новый год с новым партнером!

        +e.buttons
          +slide-button()._left.jso-partners-slider__button_prev

          +e.slides
            +e('span').text.jso-partners-slider__slides_current
              | 28
            +e('span').text
              | /
            +e('span').text.jso-partners-slider__slides_count
              | 130

          +slide-button()._right.jso-partners-slider__button_next

        +e.more
          +button(true)(href='#')._rarr
            | Все партнеры
