@import "about-cards-popup";

.xfo-about-cards-popup {

  &__heading {
    font-size: 24px;
  }

  &__get-involved {
    justify-content: center;

    &-item {
      width: 230px;

      &:not(:last-child) {
        margin-right: 95px;
      }
    }
      
    &-image {
        display:flex;
        justify-content: center;
        align-content: center;
        height:114px;
        align-items: center;
    }

    &-text {
      margin-top: 13px;
      font-size: 16px;
      line-height:21px;
    }
  }

  &__how-to-card {
    margin: 26px 0 43px 0;
      
      .xfo-how-to-card__item:not(:last-child) {
          margin-right: 80px;
      }
  }

  &__footer {
    padding: 30px;
    min-height: 80px;

    &-link {
      font-size: 20px;
    }
  }
}
