@import "program";

.xfo-program {

  &__heading {
    font-size: 24px;
  }

  &__pattern-bg {
    margin: 37px auto;
    width: 960px;
    background: url('../images/pattern.png') repeat-x left;
  }

  &__bonuses {
    display: flex;
    justify-content: space-between;

    &-program-bg {
      background: url('../images/program-item-bg.svg') no-repeat right -95px center;
      background-size:190px 190px;
      padding-top: 145px;
      padding-bottom: 13px;
      align-items: center;
    }

    &-item {
      width: 307px;
      min-height: 200px;
    }

    &-description {
      font-size: 18px;
    }

  }
}
