@import "program";

.xfo-program {
  justify-content: flex-start;
  margin-bottom: 0px;

  &__heading {
    font-size: 20px;
    margin-top: 33px;
  }

  &__pattern-bg {
    width: 100%;
    margin: 25px 0 21px 0;
    background: url('../images/pattern.png') repeat-x 2px;
  }

  &__bonuses {

    &-program-bg {
      background: url('../images/program-item-bg.svg') no-repeat right -70px center;
      background-size:140px 140px;
      padding-top: 97px;
      padding-bottom: 10px;
      align-items: flex-end;
      min-height: 150px;
    }

    &-item {
      width: 100%;
        
      & + .xfo-program__bonuses-item {
          margin-top:20px;
      }

    }
    &-image {
      max-height: 150px;
      top: -5px;
    }

    &-description {
      font-size: 16px;
      line-height: 20px;
    }

  }
}

