@import "common";

.xfo-program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 0px;

  &__heading {
    margin: 0;
    color: #005725;
    text-align: center;
    font-family: Rotonda, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 33px;
  }

  &__pattern-bg {
    width: 100%;
    margin: 25px 0 21px 0;
    height: 31px;
    background: url('../images/pattern.png') repeat-x left;
  }

  &__bonuses {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-between;

    &-program-bg {
      height: 150px;
      background: url('../images/program-item-bg.png') no-repeat right;
    }

    &-item {
      background: linear-gradient(to bottom, rgb(181, 217, 35) 0%, rgb(204, 232, 50) 100%);
      padding: 0;
      margin-right: 0px;
      border-radius: 4px;
      width: 307px;
      height: 150px;
      margin-bottom: 20px;

      &:nth-child(1) {
        line-height: 30px;
      }

    }
    &-image {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: auto;
    }

    &-item:nth-child(1) &-image {
      width: 100%;
      height: auto;
    }

    &-item:nth-child(1) &-description {
      line-height: 20px;
    }

    &-item:last-child &-description {
      margin-top: -58px;
    }

    &-description {
      margin-top: -64px;
      font-size: 15px;
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      padding: 0 40px;
      color: #005725;
      text-align: center;
    }

  }
}

