@import "program";

.xfo-program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 0px;

  &__heading {
    margin: 0;
    color: #005725;
    text-align: center;
    font-family: Rotonda, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 33px;
  }

  &__pattern-bg {
    width: 100%;
    margin: 25px 0 21px 0;
    height: 31px;
    background: url('../images/pattern.png') repeat-x 2px;
  }

  &__bonuses {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;

    &-program-bg {
      height: 100%;
      background: url('../images/program-item-bg.svg') no-repeat right -70px center;
      background-size:140px 140px;
      box-sizing: border-box;
      position:relative;
      padding-top: 97px;
      padding-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      align-content: center;
      min-height: 150px;
    }

    &-item {
      background: linear-gradient(to bottom, rgb(181, 217, 35) 0%, rgb(204, 232, 50) 100%);
      padding: 0;
      border-radius: 4px;
      margin-right: 0px;
      width: 100%;
      overflow:hidden;
        
      & + .xfo-program__bonuses-item {
          margin-top:20px;
      }

      &:last-child {
        margin-right: 0;
      }

    }
    &-image {
      position:absolute;
      left: 50%;
      top: 0; 
      transform: translateX(-50%);
      max-height: 150px;
      top: -5px;
      z-index:1;
    }

    &-description {
      font-size: 16px;
      font-family: Rotonda, sans-serif;
      line-height: 20px;
      font-weight: 700;
      padding: 0 40px;
      color: #005725;
      text-align: center;
      position:relative; z-index:2;
      margin:0;
    }

  }
}

