@import "certificates";

.xfo-certificates {

  &__breadcrumbs {
    margin-top: 13px;
  }

  &__message {
    padding: 27px 0 25px 0;
  }

  &__buy-card {
    margin-top: 35px;
  }

  &__footer {
    margin-top: 40px;
  }
}
