@import "certificates";

.xfo-certificates {

  &__breadcrumbs {
    margin-top: 27px;
  }

  &__banner-slider {
    margin-top: 13px;
  }

  &__message {
    padding: 20px 0 22px 0;
  }

  &__buy-card {
    margin-top: 35px;
  }

  &__footer {
    margin-top: 40px;
  }
}
