@import "bank-cards-popup";

.xfo-bank-cards-popup {

  &__heading {
    margin: 0 auto;
    width: 800px;
  }

  &__section {
    margin: 0 auto;
    width: 800px;

    &_full {
      width: 100%;
    }

    &-heading {
      font-size: 24px;
    }
  }

  &__list {
    flex-flow: row wrap;

    &-item {

      &_1_2 {
        width: 40%;
        margin-bottom: 45px;

        &:nth-child(2n+1) {
          padding-right: 35px;
        }
      }

      &_1_3 {
        width: 33%;
        padding-right: 35px;
        margin-bottom: 45px;

        &:nth-child(3n+3) {
          padding-right: 0;
        }
      }
    }

    &-icon {

      &-wrapper {
        min-height: 72px;
      }
    }

    &-text {
      margin-top: 25px;
    }
  }

  &__text {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 32px;

    &-item {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__attention {
    display: flex;
    flex-flow: row nowrap;
    padding: 21px 28px 21px 25px;
    width: 100%;
    border: 1px solid #ededed;
    box-sizing: border-box;

    &-icon {
      margin-right: 26px;
      width: 38px;
      height: 38px;
      fill: #71be44;
    }

    &-text {

    }
  }

  &__output {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
    background-color: #005924;
    min-height: 186px;
    color: #ffffff;

    &-title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }

    &-price {
      display: block;
      width: 100%;
      font-family: Rotonda, sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 50px;
    }

    &-discount {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 17px;
    }
  }

  &__waste {
    position: relative;
    background-color: #7cc400;
    width: 100%;
    min-height: 425px;
    overflow: hidden;

    &-circle {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background-color: #ededed;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 50%;
        height: 100%;
        background-color: #dadada;
      }

      &-icon {
        position: absolute;
        top: 115px;
        left: 50%;
        transform: translateX(-50%);
        @include svgSize($xfo-svg__10p_1r...);
        fill: #005924;
      }

      &-text {
        position: absolute;
        display: block;
        width: 100%;
        color: #ff5818;
      }
    }

    &-body {
      display: none;
      width: 266px;
      color: #fff;
      padding: 60px;
    }

    &-heading {
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      font-size: 24px;
    }

    &-text {
      margin: 12px 0 0 0;
    }
  }

  &__good-to-know {

    &-heading {
      display: block;
      margin-bottom: 30px;
      font-family: GothicBook, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #000;
    }

    &-items {
      display: block;
      margin: 0;
      padding: 0 0 20px 0;
      list-style: none;
      max-width: 600px;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 17px;
      width: 100%;
    }

    &-icon {
      margin-top: 5px;
      margin-right: 28px;
      fill: #71be44;
      @include svgSize($xfo-svg__list-item...);
      flex: 0 0 auto;
    }
  }


  &__calc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 635px;
    margin: 0 auto;

    &-col {
      display: flex;
      flex-direction: column;
      width: 226px;

      &_space {
        width: 184px;
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      height: 88px;

      &_center {
        align-items: center;
      }

      &-plus {
        @include svgSize($xfo-svg__plus...);
        fill: none;
        stroke: #b1d235;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 3px;
      }

      &-perekrestok {
        width: 87px;
        height: 88px;
      }

      &-others {
        width: 74px;
        height: 64px;
      }
    }

    &-heading {
      margin-top: 18px;
      font-weight: 700;
      font-size: 17px;
      text-align: center;
      font-family: FranklinGothicDemiITC, GothicBook, sans-serif;
      color: #000000;
    }

    &-description {
      margin-top: 20px;
      font-size: 13px;
      text-align: center;
      font-family: Rotonda, sans-serif;
      color: #666666;
    }

    &-field {
      margin-top: 30px;
      padding: 0 21px;
      display: block;
      width: 100%;
      line-height: 40px;
      border: 1px solid #c6e0ad;
      border-radius: 5px;
      font-family: GothicBook, sans-serif;
      font-size: 17px;
      color: #000000;
      box-sizing: border-box;
    }

    &-label {
      display: block;
      margin-top: 9px;
      text-align: center;
      font-family: GothicBook, sans-serif;
      font-size: 13px;
      color: #666666;
    }

    &-range {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 28px;

      .ui-slider {

        &-horizontal {
          height: 14px;
          background-color: #f2f2f2;
          border: 0;
          border-radius: 10px;
        }

        &-range {
          background-color: #b1d235;
          border-radius: 10px;
        }

        &-handle {
          width: 20px;
          height: 20px;
          background-color: #008c41;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &-field {
        display: block;
        width: 100%;
        margin-bottom: 6px;
      }

      &-value {
        font-family: Rotonda, sans-serif;
        font-size: 14px;
        color: #4c4c4c;
      }
    }

    &-points {
      margin-top: 35px;
      display: block;
      text-align: center;
      color: #005924;

      &-value {
        font-family: Rotonda, sans-serif;
        font-weight: 700;
        font-size: 50px;
      }

      &-label {
        font-family: GothicBook, sans-serif;
        font-size: 30px;
      }
    }
  }

  &__replenish {
    margin-bottom: 20px;

    &-row {
      padding-left: 70px;
      display: flex;
      flex-flow: row wrap;
      position: relative;

      &:not(:first-child) {
        border-top: 1px solid #e2e2e2;
        margin-top: 15px;
      }

      &:first-child::before {
        content: '';
        position: absolute;
        top: 37px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e2e2e2;
      }
    }

    &-percent {
      display: block;
      position: absolute;
      left: 0;
      height: auto;
      text-align: center;
      font-weight: 700;
      color: #008136;
      font-size: 20px;
      transform-origin: left top;
      transform: rotate(-90deg) translateX(-50%);
      top: 50%;

      &-suffix {
        display: block;

        &::after {
          content: ' %';
        }
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      flex: 0 0 33.3333%;

      &:nth-child(2) {
        flex: 0 0 45%;
      }

      &:nth-child(3) {
        flex: 0 0 35%;
      }

      &:nth-child(4) {
        flex: 0 0 20%;
      }

      &:not(:last-child) {
        padding-right: 15px;
      }
    }

    &-heading {
      font-family: FranklinGothicDemiITC, "Rotonda Bold", sans-serif;
      font-size: 17px;
      display: none;
      padding-bottom: 17px;

      &-icon {
        fill: #47c84c;
        margin-right: 10px;

        &_terminals {
          @include svgSize($xfo-svg__terminals...)
        }

        &_transfer {
          @include svgSize($xfo-svg__transfer...)
        }

        &_cashbox {
          @include svgSize($xfo-svg__cashbox...)
        }
      }

      &_main {
        display: block;
      }
    }

    &-item {
      margin-top: 15px;
      color: #221e1f;
    }
  }

  &__footer {
    padding: 30px;
    min-height: 80px;
    box-sizing: border-box;

    &-link {
      font-family: GothicBook, sans-serif;
      color: #000000;
      font-size: 20px;
    }
  }
}
