@import "bank-cards-popup";

.xfo-bank-cards-popup {
  margin-top: 80px;
  display: none;
  border-radius: 5px;
  overflow: hidden;

  &_active {
    display: block;
  }

  &__heading {
    margin: 0 auto;
    width: 800px;
  }

  &__content {
    margin: 0 auto;
    width: 800px;
    color: #333333;
    font-family: GothicBook, sans-serif;
    font-size: 15px;
    line-height: 1.3;
  }

  &__section {

    &-heading {
      font-family: Rotonda, sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      color: #000000;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    justify-content: space-around;

    &-item {
      display: flex;
      flex-direction: column;
      height: 100%;
      box-sizing: border-box;

      &_1_2 {
        width: 50%;
        margin-bottom: 45px;

        &:nth-child(2n+1) {
          padding-right: 35px;
        }
      }

      &_1_3 {
        width: 33%;
        padding-right: 35px;

        &:not(:nth-child(-3)) {
          margin-bottom: 45px;
        }

        &:nth-child(3n+3) {
          padding-right: 0;
        }
      }
    }

    &-icon {
      margin: 0 auto;

      &_card-popup-icon-1 {
        @include svgSize($xfo-svg__card-popup-icon-1...);
        fill: #71be44;
      }

      &_card-popup-icon-2 {
        @include svgSize($xfo-svg__card-popup-icon-2...);
        fill: #71be44;
      }

      &_card-popup-icon-3 {
        @include svgSize($xfo-svg__card-popup-icon-3...);
        fill: #71be44;
      }

      &_card-popup-icon-4 {
        @include svgSize($xfo-svg__card-popup-icon-4...);
        fill: #71be44;
      }

      &_card-popup-icon-5 {
        @include svgSize($xfo-svg__card-popup-icon-5...);
        fill: #71be44;
      }

      &_card-popup-icon-6 {
        @include svgSize($xfo-svg__card-popup-icon-6...);
        fill: #e52f1f;
      }
    }

    &-text {
      margin-top: 25px;
      text-align: center;
    }

    &-link {
      color: inherit;
      transition: all .25s ease-in-out;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        opacity: .7;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-between;
    padding: 30px 32px;
    width: 100%;
    border: 10px solid #f4f4f4;
    box-sizing: border-box;

    &-item {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    &-link {
      display: block;
      margin-top: 14px;
      color: #000;
      transition: all .25s ease-in-out;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        opacity: .7;
      }
    }
  }
}
