@import "bank-cards-popup";

.xfo-bank-cards-popup {

  &__heading {
    width: 800px;
  }

  &__section {
    margin: 0 auto;
    width: 800px;

    &_full {
      width: 100%;
    }

    &-heading {
      font-size: 24px;
    }
  }

  &__list {
    flex-flow: row wrap;

    &-item {

      &_1_2 {
        width: 40%;
        margin-bottom: 45px;

        &:nth-child(2n+1) {
          padding-right: 35px;
        }
      }

      &_1_3 {
        width: 33%;
        padding-right: 35px;
        margin-bottom: 45px;

        &:nth-child(3n+3) {
          padding-right: 0;
        }
      }
    }

    &-icon {

      &-wrapper {
        min-height: 72px;
      }
    }

    &-text {
      margin-top: 25px;
    }
  }

  &__text {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 32px;

    &-item {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__attention {
    flex-flow: row nowrap;
    padding: 21px 28px 21px 25px;

    &-icon {
      margin-right: 26px;
    }
  }

  &__output {
    padding: 35px;
    min-height: 186px;

    &-title {
      font-size: 30px;
    }

    &-price {
      font-size: 50px;
    }

    &-discount {
      font-size: 17px;
    }
  }

  &__waste {
    min-height: 425px;

    &-circle {
      top: 50%;
      left: 40px;
      transform: translateY(-50%);

      &-icon {
        top: 115px;
        left: 50%;
        transform: translateX(-50%);
        @include svgSize($xfo-svg__10p_1r...);;
      }

      &-text {
        bottom: 115px;
        font-size: 34px;
      }
    }

    &-body {
      width: 266px;
      padding: 100px 60px;
    }

    &-heading {
      font-size: 24px;
    }

    &-text {
      margin: 12px 0 0 0;
    }
  }

  &__good-to-know {

    &-heading {
      font-size: 20px;
    }

    &-items {
      max-width: 600px;
    }

    &-icon {
      margin-right: 28px;
    }
  }


  &__calc {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 635px;
    margin: 0 auto;

    &-col {
      display: flex;
      flex-direction: column;
      width: 226px;

      &_space {
        width: 184px;
      }
    }

    &-icon {
      height: 88px;

      &_center {
        align-items: center;
      }

      &-perekrestok {
        width: 87px;
        height: 88px;
      }

      &-others {
        width: 74px;
        height: 64px;
      }
    }

    &-heading {
      margin-top: 18px;
      font-size: 17px;
    }

    &-description {
      margin-top: 20px;
    }

    &-field {
      margin-top: 30px;
    }

    &-range {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 28px;

      .ui-slider {

        &-horizontal {
          height: 14px;
          background-color: #f2f2f2;
          border: 0;
          border-radius: 10px;
        }

        &-range {
          background-color: #b1d235;
          border-radius: 10px;
        }

        &-handle {
          width: 20px;
          height: 20px;
          background-color: #008c41;
          border: 0;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      &-field {
        display: block;
        width: 100%;
        margin-bottom: 6px;
      }

      &-value {
        font-family: Rotonda, sans-serif;
        font-size: 14px;
        color: #4c4c4c;
      }
    }

    &-points {
      margin-top: 35px;

      &-value {
        font-size: 50px;
      }

      &-label {
        font-size: 30px;
      }
    }
  }

  &__replenish {
    margin-bottom: 20px;

    &-row {
      padding-left: 70px;
      display: flex;
      flex-flow: row wrap;
      position: relative;

      &:not(:first-child) {
        border-top: 1px solid #e2e2e2;
        margin-top: 15px;
      }

      &:first-child::before {
        content: '';
        position: absolute;
        top: 37px;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #e2e2e2;
      }
    }

    &-percent {
      display: block;
      position: absolute;
      left: 0;
      height: auto;
      text-align: center;
      font-weight: 700;
      color: #008136;
      font-size: 20px;
      transform-origin: left top;
      transform: rotate(-90deg) translateX(-50%);
      top: 50%;

      &-suffix {
        display: block;

        &::after {
          content: ' %';
        }
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      flex: 0 0 33.3333%;

      &:nth-child(2) {
        flex: 0 0 45%;
      }

      &:nth-child(3) {
        flex: 0 0 35%;
      }

      &:nth-child(4) {
        flex: 0 0 20%;
      }

      &:not(:last-child) {
        padding-right: 15px;
      }
    }

    &-heading {
      font-family: FranklinGothicDemiITC, "Rotonda Bold", sans-serif;
      font-size: 17px;
      display: none;
      padding-bottom: 17px;

      &-icon {
        fill: #47c84c;
        margin-right: 10px;

        &_terminals {
          @include svgSize($xfo-svg__terminals...)
        }

        &_transfer {
          @include svgSize($xfo-svg__transfer...)
        }

        &_cashbox {
          @include svgSize($xfo-svg__cashbox...)
        }
      }

      &_main {
        display: block;
      }
    }

    &-item {
      margin-top: 15px;
      color: #221e1f;
    }
  }

  &__footer {
    min-height: 80px;

    &-link {
      font-size: 20px;
    }
  }
}
