@import "bank-cards-popup";

.xfo-bank-cards-popup {

  &__heading {
    margin: 0 auto;
    width: 800px;
  }

  &__section {
    margin: 0 auto;
    width: 800px;

    &_full {
      width: 100%;
    }

    &-heading {
      font-size: 24px;
    }
  }

  &__list {
    flex-flow: row wrap;

    &-item {

      &_1_2 {
        width: 40%;
        margin-bottom: 45px;

        &:nth-child(2n+1) {
          padding-right: 35px;
        }
      }

      &_1_3 {
        width: 33%;
        padding-right: 35px;
        margin-bottom: 45px;

        &:nth-child(3n+3) {
          padding-right: 0;
        }
      }
    }

    &-text {
      margin-top: 25px;
    }
  }

  &__text {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 32px;

    &-item {

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  &__attention {
    display: flex;
    flex-flow: row nowrap;
    padding: 21px 28px 21px 25px;
    width: 100%;
    border: 1px solid #ededed;
    box-sizing: border-box;

    &-icon {
      margin-right: 26px;
    }

    &-text {

    }
  }

  &__output {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 35px;
    width: 100%;
    box-sizing: border-box;
    background-color: #005924;
    min-height: 186px;
    color: #ffffff;

    &-title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }

    &-price {
      display: block;
      width: 100%;
      font-family: Rotonda, sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 50px;
    }

    &-discount {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 17px;
    }
  }

  &__waste {
    position: relative;
    background-color: #7cc400;
    width: 100%;
    min-height: 425px;
    overflow: hidden;

    &-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
    }

    &-body {
      margin-top: auto;
      width: 266px;
      color: #fff;
      padding: 60px;
      float: right;
    }

    &-heading {
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      font-size: 24px;
    }

    &-text {
      margin: 12px 0 0 0;
    }
  }

  &__good-to-know {

    &-heading {
      display: block;
      margin-bottom: 30px;
      font-family: GothicBook, sans-serif;
      font-weight: 700;
      font-size: 20px;
      color: #000;
    }

    &-items {
      display: block;
      margin: 0;
      padding: 0 0 20px 0;
      list-style: none;
      max-width: 600px;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 17px;
      width: 100%;
    }

    &-icon {
      margin-top: 5px;
      margin-right: 28px;
      fill: #71be44;
      @include svgSize($xfo-svg__list-item...);
      flex: 0 0 auto;
    }
  }


  &__footer {
    padding: 30px;
    min-height: 80px;
    box-sizing: border-box;

    &-link {
      font-family: GothicBook, sans-serif;
      color: #000000;
      font-size: 20px;
    }
  }
}
