@import "bank-cards-popup";

.xfo-bank-cards-popup {

  &__heading {
    font-size: 18px;
  }

  &__section {
    padding: 0 15px;

    &-heading {
      font-size: 17px;
    }
  }

  &__list {
    flex-direction: column;

    &-item {
      width: 100%;
      margin-bottom: 30px;
    }

    &-text {
      margin-top: 20px;
    }
  }

  &__text {
    flex-direction: column;
    padding: 13px 20px;

    &-item {

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__replenish {
    margin-bottom: 20px;

    &-row {

    }

    &-percent {
      font-family: "Rotonda Bold", Rotonda, sans-serif;
      font-weight: 700;
      color: #48803e;
      padding: 10px 0;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;

      &-suffix {
        display: block;

        &_with::after {
          content: ' процентов';
        }

        &_without::after {
          content: ' процентами';
        }
      }
    }

    &-column {

    }

    &-heading {
      font-family: FranklinGothicDemiITC, "Rotonda Bold", sans-serif;
      font-size: 15px;
      margin-top: 16px;
      margin-bottom: 15px;

      &-icon {
        fill: #47c84c;
        margin-right: 10px;

        &-wrapper {
          display: inline-block;
          width: 30px;
        }

        &_terminals {
          @include svgSize($xfo-svg__terminals...)
        }

        &_transfer {
          @include svgSize($xfo-svg__transfer...)
        }

        &_cashbox {
          @include svgSize($xfo-svg__cashbox...)
        }
      }

      &_main {
        display: block;
      }
    }

    &-item {
      margin-bottom: 15px;
      color: #221e1f;
      padding-left: 35px;
    }
  }

  &__attention {
    flex-direction: column;
    align-items: center;
    padding: 12px;

    &-text {
      margin-top: 12px;
      text-align: center;
    }
  }

  &__calc {
    flex-direction: column;

    &-icon {

      &-plus {
        margin: 16px 0;
      }

      &-perekrestok {
        display: none;
      }

      &-others {
        display: none;
      }
    }

    &-heading {
      font-size: 15px;
    }

    &-description {
      margin-top: 8px;
    }

    &-field {
      margin-top: 15px;
      order: 2;

      &-wrap {
        display: flex;
        flex-direction: column;
      }
    }

    &-label {
      order: 1;
    }

    &-range {
      display: none;
    }

    &-points {
      margin-top: 10px;

      &-value {
        font-size: 34px;
        line-height: 34px;
      }

      &-label {
        font-size: 15px;
      }
    }
  }

  &__output {
    padding: 25px;
    min-height: 145px;

    &-title {
      font-size: 17px;
    }

    &-price {
      font-size: 40px;
    }

    &-discount {
      font-size: 15px;
    }
  }

  &__waste {
    min-height: 490px;

    &-circle {
      top: -290px;
      left: 50%;
      transform: translateX(-50%);

      &-icon {
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 255px;
        height: auto;
      }

      &-text {
        bottom: 40px;
        font-size: 17px;
      }
    }

    &-body {
      padding: 230px 20px 20px;
      text-align: center;
    }

    &-heading {
      font-size: 17px;
    }

    &-text {
      margin: 8px 0 0 0;
    }
  }

  &__good-to-know {

    &-heading {
      font-size: 17px;
    }

    &-icon {;
      margin-right: 20px;
    }
  }

  &__footer {
    min-height: 60px;

    &-link {
      font-size: 17px;
    }
  }
}
