@import "bank-cards-popup";

.xfo-bank-cards-popup {

  &__heading {
    font-size: 18px;
  }

  &__section {
    padding: 0 15px;

    &-heading {
      font-size: 17px;
    }
  }

  &__list {
    flex-direction: column;

    &-item {
      width: 100%;
      margin-bottom: 30px;
    }

    &-text {
      margin-top: 20px;
    }
  }

  &__text {
    flex-direction: column;
    padding: 13px 20px;

    &-item {

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__replenish {
    margin-bottom: 20px;

    &-row {

    }

    &-percent {
      font-family: "Rotonda Bold", Rotonda, sans-serif;
      font-weight: 700;
      color: #48803e;
      padding: 10px 0;
      border-top: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;

      &-suffix {
        display: block;

        &_with::after {
          content: ' процентов';
        }

        &_without::after {
          content: ' процентами';
        }
      }
    }

    &-column {

    }

    &-heading {
      font-family: FranklinGothicDemiITC, "Rotonda Bold", sans-serif;
      font-size: 15px;
      margin-top: 16px;
      margin-bottom: 15px;

      &-icon {
        fill: #47c84c;
        margin-right: 10px;

        &-wrapper {
          display: inline-block;
          width: 30px;
        }

        &_terminals {
          @include svgSize($xfo-svg__terminals...)
        }

        &_transfer {
          @include svgSize($xfo-svg__transfer...)
        }

        &_cashbox {
          @include svgSize($xfo-svg__cashbox...)
        }
      }

      &_main {
        display: block;
      }
    }

    &-item {
      margin-bottom: 15px;
      color: #221e1f;
      padding-left: 35px;
    }
  }

  &__attention {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    width: 100%;
    border: 1px solid #ededed;
    box-sizing: border-box;

    &-icon {
      width: 38px;
      height: 38px;
      fill: #71be44;
    }

    &-text {
      margin-top: 12px;
      text-align: center;
    }
  }

  &__calc {
    display: flex;
    flex-direction: column;

    &-col {

      &_space {

      }
    }

    &-icon {
      display: flex;
      justify-content: center;

      &-plus {
        @include svgSize($xfo-svg__plus...);
        fill: none;
        stroke: #b1d235;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 3px;
        margin: 16px 0;
      }

      &-perekrestok {
        display: none;
      }

      &-others {
        display: none;
      }
    }

    &-heading {
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-family: FranklinGothicDemiITC, GothicBook, sans-serif;
      color: #000000;
    }

    &-description {
      margin-top: 8px;
      font-size: 13px;
      text-align: center;
      font-family: Rotonda, sans-serif;
      color: #666666;
    }

    &-field {
      margin-top: 15px;
      padding: 0 21px;
      display: block;
      width: 100%;
      line-height: 40px;
      border: 1px solid #c6e0ad;
      border-radius: 5px;
      font-family: GothicBook, sans-serif;
      font-size: 17px;
      color: #000000;
      box-sizing: border-box;
      text-align: center;
      order: 2;

      &-wrap {
        display: flex;
        flex-direction: column;
      }
    }

    &-label {
      display: block;
      margin-top: 9px;
      text-align: center;
      font-family: GothicBook, sans-serif;
      font-size: 13px;
      color: #666666;
      order: 1;
    }

    &-range {
      display: none;
    }

    &-points {
      margin-top: 10px;
      display: block;
      text-align: center;
      color: #005924;

      &-value {
        font-family: Rotonda, sans-serif;
        font-weight: 700;
        font-size: 34px;
        line-height: 34px;
      }

      &-label {
        font-family: GothicBook, sans-serif;
        font-size: 15px;
      }
    }
  }

  &__output {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    background-color: #005924;
    min-height: 145px;
    color: #ffffff;

    &-title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 17px;
    }

    &-price {
      display: block;
      width: 100%;
      font-family: Rotonda, sans-serif;
      text-align: center;
      font-weight: 700;
      font-size: 40px;
    }

    &-discount {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 15px;
    }
  }

  &__waste {
    position: relative;
    background-color: #7cc400;
    width: 100%;
    min-height: 425px;
    overflow: hidden;

    &-image {
      position: absolute;
      top: -47%;
      transform: scale(.7) translateX(-70%);
      left: 50%;
    }

    &-body {
      margin-top: 260px;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    &-heading {
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      font-size: 17px;
    }

    &-text {
      margin: 12px 0 0 0;
      font-size: 15px;
    }
  }

  &__good-to-know {

    &-heading {
      display: block;
      margin-bottom: 30px;
      font-family: FranklinGothicDemiITC, Rotonda, GothicBook, sans-serif;
      font-size: 17px;
      color: #000;
    }

    &-items {
      display: block;
      margin: 0;
      padding: 0 0 20px 0;
      list-style: none;
      max-width: 600px;
    }

    &-item {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 17px;
      width: 100%;
    }

    &-icon {
      margin-top: 5px;
      margin-right: 20px;
      fill: #71be44;
      @include svgSize($xfo-svg__list-item...);
      flex: 0 0 auto;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 60px;
    box-sizing: border-box;

    &-link {
      font-family: GothicBook, sans-serif;
      color: #000000;
      font-size: 17px;
    }
  }
}
