.xfo-bank-cards-popup {
  margin-top: 80px;
  display: none;
  border-radius: 5px;
  overflow: hidden;

  &_active {
    display: block;
  }

  &__heading {
    margin: 0 auto;
  }

  &__content {
    margin: 0 auto 0 auto;
    color: #333333;
    font-family: GothicBook, sans-serif;
    font-size: 15px;
    line-height: 1.3;
  }

  &__section {
    padding-top: 10px;

    &-heading {
      font-family: Rotonda, sans-serif;
      font-weight: 700;
      text-align: center;
      color: #000000;
    }
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    width: 100%;
    justify-content: center;

    &-item {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }

    &-icon {

      &-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 72px;
      }

      &-counter {
        display: inline-block;
        margin-right: 12px;
        font-family: Rotonda, sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #71be44;
      }

      &_card-popup-icon-1 {
        @include svgSize($xfo-svg__card-popup-icon-1...);
        fill: #71be44;
      }

      &_card-popup-icon-2 {
        @include svgSize($xfo-svg__card-popup-icon-2...);
        fill: #71be44;
      }

      &_card-popup-icon-3 {
        @include svgSize($xfo-svg__card-popup-icon-3...);
        fill: #71be44;
      }

      &_card-popup-icon-4 {
        @include svgSize($xfo-svg__card-popup-icon-4...);
        fill: #71be44;
      }

      &_card-popup-icon-5 {
        @include svgSize($xfo-svg__card-popup-icon-5...);
        fill: #71be44;
      }

      &_card-popup-icon-6 {
        @include svgSize($xfo-svg__card-popup-icon-6...);
        fill: #71be44;
      }

      &_card-popup-icon-7 {
        @include svgSize($xfo-svg__card-popup-icon-7...);
        fill: #71be44;
      }

      &_card-popup-icon-8 {
        @include svgSize($xfo-svg__card-popup-icon-8...);
        fill: #71be44;
      }

      &_card-popup-icon-9 {
        @include svgSize($xfo-svg__card-popup-icon-9...);
        fill: #71be44;
      }

      &_card-popup-icon-10 {
        @include svgSize($xfo-svg__card-popup-icon-10...);
        fill: #71be44;
      }

      &_c1 {
        @include svgSize($xfo-svg__c1...);
        fill: #71be44;
        margin-right: 10px;
      }

      &_c2 {
        @include svgSize($xfo-svg__c2...);
        fill: #71be44;
        margin-right: 10px;
      }

      &_c3 {
        @include svgSize($xfo-svg__c3...);
        fill: #71be44;
        margin-right: 10px;
      }

      &_c4 {
        @include svgSize($xfo-svg__c4...);
        fill: #71be44;
        margin-right: 10px;
      }

      &_c5 {
        @include svgSize($xfo-svg__c5...);
        fill: #71be44;
        margin-right: 10px;
      }

      &_c6 {
        @include svgSize($xfo-svg__c6...);
        fill: #71be44;
        margin-right: 10px;
      }
    }

    &-text {
      text-align: center;
    }

    &-link {
      color: inherit;
      transition: all .25s ease-in-out;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        opacity: .7;
      }
    }
  }

  &__text {
    display: flex;
    width: 100%;
    border: 10px solid #f4f4f4;
    box-sizing: border-box;

    &-item {
      margin: 0;
      padding: 0;
    }

    &-link {
      display: block;
      margin-top: 14px;
      color: #000;
      transition: all .25s ease-in-out;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        opacity: .7;
      }
    }
  }
}
