$links-color: #4c4c4c;

.xfo-header {
  display: flex;
  flex-flow: row wrap;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #005825 linear-gradient(
        to right,
        #005825 0%, #005825 30%,
        #239e5e 30%, #239e5e 30.1%,
        #04a651 30.1%, #04a651 38%,
        #72c160 38%, #72c160 38.1%,
        #70be43 38.1%, #70be43 68%,
        #b7d861 68%, #b7d861 68.1%,
        #b1d234 68.1%, #b1d234 100%
    );
  }

  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 8px;

    &-menu {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {

        &:not(:last-child)::after {
          content: '\00B7';
          padding: 0 7px 0 2px;
          color: #b1d235;
          font-size: 15px;
        }
      }

      &-link {
        font-size: 15px; // TODO заменить на EM / REM
        color: $links-color;
        text-decoration: none;
      }
    }
  }

  &__address {
    display: flex;
    align-items: center;
    align-self: center;
    font-size: 15px; // TODO заменить на EM / REM
    color: $links-color;

    &::before {
      content: '';
      display: block;
      width: 14px;
      height: 16px;
      margin-right: 9px;
      background-image: url('../images/header_address.png');
    }

    &-abbr {
      color: #b2b2b2;
    }
  }

  &__phones {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      padding-left: 10px;
      border-right: 1px solid rgba(0, 0, 0, .1);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border: 0;
      }
    }

    &-title {
      font-size: 12px; // TODO заменить на EM / REM
      color: #999999;
    }

    &-phone {
      font-size: 17px; // TODO заменить на EM / REM
      color: #808080;
      text-decoration: none;
    }
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-top: 20px;
  }

  &__logo {
    display: block;
  }

  &__search-form {
    display: block;
    width: 427px;
    height: 40px;
  }

  &__cart-widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    &-item {
      position: relative;
      display: block;
      height: 34px;

      &:not(:last-of-type) {
        margin-right: 16px;
      }

      &_favorites {
        width: 46px;
      }

      &_cart {
        width: 51px;
      }
    }

    &-icon {
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;

      &_favorites {
        width: 33px;
        height: 28px;
        background-image: url('../images/favorites.png');
      }

      &_cart {
        width: 33px;
        height: 30px;
        background-image: url('../images/cart.png');
      }
    }

    &-count {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 21px;
      height: 21px;
      border-radius: 50%;
      background-color: #ff5721;
      font-size: 15px; // TODO заменить на EM / REM
      color: #ffffff;
    }

    &-price {
      padding-left: 10px;
      font-size: 27px; // TODO заменить на EM / REM
      color: #000000;

      &-kop {
        font-size: 17px; // TODO заменить на EM / REM

        &::before {
          content: ',';
        }

        &::after {
          content: ' ₽';
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 13px;

    &-menu {
      display: flex;
      align-items: center;
      margin: 0 0 0 28px;
      padding: 0;
      list-style: none;

      &-item {

        &:not(:last-child) {
          margin-right: 40px;
        }

      }

      &-link {
        font-size: 17px;
        color: #005725;
        text-decoration: none;

        &_dropdown {
          display: flex;
          align-items: center;

          &::after {
            content: '';
            display: block;
            margin-left: 12px;
            margin-right: 12px;
            width: 12px;
            height: 7px;
            background-image: url('../images/caret.png');
          }

          &_active::after {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &__catalog {
    display: block;
    position: relative;

    &-button {
      display: flex;
      align-items: center;
      padding: 0 12px;
      width: 240px;
      height: 32px;
      border-radius: 5px;
      background-color: #b1d235;
      font-size:17px; // TODO ЗАМЕНИТЬ НА EM / REM
      color: #ffffff;
      cursor: pointer;

      &-title {
        display: block;
        width: 100%;
        text-align: center;
      }

      &-burger {
        display: block;
        width: 19px;
        height: 14px;
        background-image: url('../images/burger.png');
      }
    }

    &-content {
      position: absolute;
      top: 37px;
      left: 0;
      display: none;

      &_active {
        display: block;
      }
    }
  }

  &__user-menu {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;

    &-item {
      padding: 4px 0;

      &:not(:last-child)::after {
        content: '';
        margin-left: 10px;
        margin-right: 10px;
        color: #b1d235;
        border-right: 1px solid #e8e8e8;
        font-size: 15px;
      }
    }

    &-link {
      font-size: 15px; // TODO заменить на EM / REM
      color: $links-color;
      text-decoration: none;
    }
  }
}
