.xfo-program {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  &__pattern-bg {
    margin: 40px 0;
    height: 31px;
    background: url('../images/pattern.png') repeat-x;
  }

  &__bonuses {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-around;

    &-item {
      background: linear-gradient(to bottom, rgb(181, 217, 35) 0%, rgb(204, 232, 50) 100%);
      padding: 0;
      border-radius: 4px;
      width: 307px;
      height: 200px;

      &:nth-child(1) {
        line-height: 30px;
      }

    }
    &-image {
      display: block;
      margin: 0 auto;
      width: 183px;
      height: 131px;
    }

    &-description {
      font-size: 18px;
      padding: 0 40px;
    }

  }

  &__green {
    color: #005725;
  }

  &__center {
    text-align: center;
  }

}
