.xfo-how-to-card {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  color: #000;

  &__item {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__image {
    height: auto;
  }

  &__text {
    display: block;
    font-family: GothicBook, sans-serif;
    text-align: center;
    color: inherit;

    * {
      font-family: GothicBook, sans-serif;
      text-align: center;
      color: inherit;
    }
  }
}
