@import "banner-slider";

.xfo-banner-slider {
  height: 165px;
  border-radius: 5px;

  &__buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding-bottom: 8px;
    z-index: 50;
  }

  &__button {
    margin-right: 10px;
  }
}
