@import "banner-slider";

.xfo-banner-slider {
  position: relative;
  margin: 0 auto;
  width: 960px;
  height: 165px;
  border-radius: 5px;
  overflow: hidden;
    
  &__buttons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    z-index: 50;
  }

  &__item {
    overflow: hidden
  }

  &__button:not(:last-child) {
    margin-right: 10px;
  }

  &__pagination {
    display: none;
  }
}
