@import "banner-slider";

.xfo-banner-slider {

  &__container {
    position: relative;
    height: 130px;
    overflow: hidden;
  }

  &__items {
    height: 100%;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
  }

  &__dot {
    display: block;
    width: 11px;
    height: 11px;
    background-color: #e5e5e5;
    cursor: pointer;
    border-radius: 50%;
    transition: background .25s ease;

    &:hover {
      background-color: darken(#e5e5e5, 10%);
    }

    &:not(:last-child) {
      margin-right: 8px;
    }

    &_active {
      width: 16px;
      height: 16px;
      background-color: #2dc033;

      &:hover {
        background-color: #b1d235;
      }
    }
  }
}
