@import "banner-slider";

.xfo-banner-slider {
  width: 100%;

  &__items {
    height: 130px;
  }

  &__buttons {
    display: none;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 11px 0 0 0;
    padding: 0;
    list-style: none;

    &-item {
      display: block;
      width: 14px;
      height: 14px;
      transform:scale(0.7) translate3d(0,0,0);
      background-color: #e5e5e5;
      cursor: pointer;
      border-radius: 50%;
      transition: background .25s ease, transform .25s ease;
      margin:4px;

      &:hover {
        background-color: darken(#e5e5e5, 10%);
      }

      &_active {
        background-color: #2dc033;
        transform:scale(1) translate3d(0,0,0);

        &:hover {
          background-color: #b1d235;
        }
      }
    }
  }
}
