.xfo-banner-slider {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;

  &__items {
    position: absolute;
    left: 0;
    transition: left 1s ease;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
  }

  &__image {
    min-width: 100%;
    background-size: cover;
  }

  &__item {
    flex: 0 0 100%;
  }
}
