@import "popup-certificates";

.xfo-popup-certificates {
  margin: 40px auto;
  font-size: 17px;

  &__content {
    width: 470px;
  }

  &__field {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &_checkbox {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &__form {

    &-heading {
      display: block;
      font-weight: 700;
      color: #000;
      line-height: 1.7;
      margin-bottom: 13px;
    }

  }

  &__label {
    margin-right: 15px;
  }
}
