@import "popup-certificates";

.xfo-popup-certificates {
  margin: 80px auto;
  font-size: 15px;

  &__field {
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &_checkbox {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  &__label {
    margin-bottom: 13px;
  }
}
