include ../container/mobile

mixin footer()
  +b('footer').xfo-footer
    +container()

      +e.navigation

        +e('ul').for-list
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Клуб «Перекресток»
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Оплата и доставка
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Обмен и возврат
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Подписка на рассылку
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Подарочные сертификаты

        +e('ul').for-list
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Контакты
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Обратная связь
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Поставщикам
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Корпоративным клиентам

        +e('ul').for-list
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link._active
              | О компании
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Работа в компании
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Благотворительность
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Финансовая отчетность
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Франчайзинг

        +e('ul').for-list
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Реклама у нас
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Недвижимость
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | Логистика
          +e('li').navigation-item
            +e('a')(href="#" title="").navigation-link
              | История



      +e.other-info
        +e.socials-payments
          +e('ul').socials
            +e('li').socials-item
              +e('a')(href="#" title="").socials-item-link
                +e('img')(src="assets/images/fb.png" alt="@@")
            +e('li').socials-item
              +e('a')(href="#" title="").socials-item-link
                +e('img')(src="assets/images/vk.png" alt="@@")
            +e('li').socials-item
              +e('a')(href="#" title="").socials-item-link
                +e('img')(src="assets/images/tw.png" alt="@@")
            +e('li').socials-item
              +e('a')(href="#" title="").socials-item-link
                +e('img')(src="assets/images/yt.png" alt="@@")

          +e('ul').types-of-payment
            +e('li').types-of-payment-item
              +e('img')(src="assets/images/types-payment-1.png" alt="@@").types-of-payment-image
            +e('li').types-of-payment-item
              +e('img')(src="assets/images/types-payment-2.png" alt="@@").types-of-payment-image

        +e.dev-by
          +e('img')(src="assets/images/x5-retail.png" alt="@@").dev-by-img
          +e.promo-interactive
            +e('p').promo-text
              | Дизайн  —
            +e('img')(src="assets/images/promo.png" alt="@@")

