@import "old-popup";

.xfo-popup {
  margin: 0 auto;
  width: 280px;
  height: auto;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: none;

  &__close {
    display: block;
    position: absolute;
    top: 17px;
    right: 17px;
    width: 16px;
    height: 16px;
    background: url('../images/close.png') no-repeat;
  }

  &__heading {
    margin-top: 48px;
    text-align: center;
    color: #008136;
    font: 24px 'Rotonda';
    font-weight: bold;
  }

  &__choice-or {
    margin: 0 auto;
    width: 634px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__choice-or-item {
    width: 307px;
  }

  &__choice-or-image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 114px;
    margin-bottom: 14px;
  }

  &__choice-or-link {
    display: block;
    margin: 0 auto;
    width: 230px;
    font: 16px 'GothicBook';
    color: #000;
    text-decoration: underline;
  }

  &__choice-title {
    font: 16px 'GothicBook';
    color: #000;
  }

  &__how-to-activate {
    margin: 0 auto;
    width: 834px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__how-to-activate-item {
    width: 247px;
    margin: 0;
    padding: 0;
  }

  &__how-to-activate-image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 114px;
    margin-bottom: 14px;
  }

  &__how-to-activate-link {
    display: block;
    margin: 0 auto;
    width: 230px;
    font: 16px 'GothicBook';
    color: #000;
    text-decoration: underline;
  }

  &__how-to-activate-title {
    font: 16px 'GothicBook';
    color: #000;
  }

  &__club-rules-link {
    display: block;
    height: 80px;
    background: #f2f2f2;

    text-align: center;
    font: 20px 'GothicBook';
    text-decoration: underline;
    vertical-align: middle;
    color: #000;
    line-height: 80px;
  }

}
