@import "partners-slider";

.xfo-partners-slider {

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    width: 100%;
  }

  &__slider {
    margin: 24px 20px 0 20px;
    width: 100%;
    order: 2;
  }

  &__button {

    &_left {
      order: 1;
    }

    &_right {
      order: 3;
    }
  }

  &__items {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__image {
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
  }

  &__logo {
    width: 100%;
    height: auto;
  }
  &__title {
    margin-top: 10px;
    display: block;
    font-size: 15px;
    font-family: GothicBook, sans-serif;
    color: #333333;
    text-align: center;
  }

  &__description {
    margin-top: 15px;
    padding: 14px 35px;
    background-color: #67b000;
    font-size: 17px;
    font-family: GothicBook, sans-serif;
    color: #fff;
    text-align: center;
  }

  &__more {
    display: block;
    margin: 30px auto 0 auto;
    width: 230px;
    max-width: 100%;
    min-height: 40px;
  }
}
