@import "partners-slider";

.xfo-partners-slider {

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__slider {
    margin: 0 20px 0 20px;
    width: 100%;
    order: 2;
    padding: 0 1px;
  }

  &__button {

    &_left {
      order: 1;
    }

    &_right {
      order: 3;
    }
  }

  &__items {
    height: 100%;
  }

  &__slides-info {
    display: none;
  }

  &__more {
    margin: 30px auto 0 auto;
    width: 230px;
    max-width: 100%;
  }
}
