@import "common";

.xfo-partners-slider {

  &__slider {
    position: relative;
    margin-top: 15px;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  &__item {
    width: 100%;
  }

  &__buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    color: #000000;
    font-family: GothicBook, sans-serif;
    font-size: 17px; // TODO заменить PX на REM / EM
  }

  &__more {
    margin-top: 15px;
  }
}
