.xfo-partners-slider {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &__items {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;

    &_new::after {
      content: 'новый';
      position: absolute;
      top: 18px;
      right: -37px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 20px;
      background-color: #cb1c00;
      color: #fff;
      transform: rotate(45deg);
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
  }

  &__image {
    width: auto;
    height: auto;
    background-size: cover;
  }

  &__title {
    margin-top: auto;
    display: block;
    padding: 11px 0;
    width: 100%;
    font-size: 15px; // TODO ЗАМЕНИТЬ НА REM / EM
    font-family: GothicBook, sans-serif;
    color: #333333;
    text-align: center;
  }

  &__description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 10px 20px;
    width: 100%;
    height: 63px;
    box-sizing: border-box;
    background-color: #67b000;
    font-size: 17px; // TODO ЗАМЕНИТЬ НА REM / EM
    font-family: GothicBook, sans-serif;
    color: #fff;
    text-align: center;
  }

  &__button {
    width: 39px;
    height: 39px;

    &_left {
      margin-right: 20px;
    }

    &_right {
      margin-left: 20px;
    }
  }
}
