.xfo-partners-slider {

  &__items {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }

  &__items .swiper-slide {
    height: auto;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;

    &_new::after {
      content: 'новый';
      position: absolute;
      top: 18px;
      right: -37px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 128px;
      height: 20px;
      background-color: #cb1c00;
      color: #fff;
      transform: rotate(45deg);
    }
  }

  &__image {
    padding: 10px;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }

  &__title {
    display: block;
    font-size: 15px;
    font-family: GothicBook, sans-serif;
    color: #333333;
    text-align: center;
    padding: 10px 20px;
  }

  &__description {
    margin-top: auto;
    padding: 14px 35px;
    background-color: #67b000;
    font-size: 17px;
    font-family: GothicBook, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  &__more {
    min-height: 40px;
  }
}
