@font-face {
  font-family: 'Rotonda';
  src: url("../fonts/Rotonda-Regular.otf");
  src: url("../fonts/Rotonda-Regular.eot");
  src: url("../fonts/Rotonda-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rotonda-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Rotonda';
  src: url("../fonts/Rotonda-Bold.otf");
  src: url("../fonts/Rotonda-Bold.eot");
  src: url("../fonts/Rotonda-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rotonda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: GothicBook;
  src: url("../fonts/FranklinGothic-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FranklinGothic-Book.woff") format("woff");
  font-weight: normal; }
