$xfo-svg__checkbox-tick: 22px, 17px;
$xfo-svg__close: 14px, 14px;
$xfo-svg__list-item: 9px, 8px;
$xfo-svg__personal-area-buttons-card: 148.14px, 102.5px;
$xfo-svg__personal-area-buttons-user: 475.32px, 509px;
$xfo-svg__rarr: 18px, 10px;
$xfo-svg__select-caret: 16px, 10px;
$xfo-svg__slide-button: 10px, 18px;

@mixin svgSize($w: 100%, $h: 100%) {
  width: $w;
  height: $h;
}