include ../container/desktop
include ../button/desktop

mixin cards()
  +container()

    +e.heading
      +heading('h2')
        | Выберите карту Клуба Перекресток

    +b.xfo-cards

      +e.item
        +e('img')(src="assets/images/karta-kluba-perekrestok.png" alt="@@").image
        +e.for-cols

          +e.heading
            +heading('h3')
              | Карта Клуба Перекресток

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-1.png" alt="@@")
            +button(true)(href="#")._green
              | Оформить карту

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")
            +button(true)(href="#")._white
              | Подробнее

      +e.item
        +e('img')(src="assets/images/card-x2.png" alt="@@").image
        +e.for-cols

          +e.heading
            +heading('h3')
              | Платежная карта “Перекресток”

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-2.png" alt="@@")
            +button(true)(href="#")._green
              | Оформить карту

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")
            +button(true)(href="#")._white
              | Подробнее

      +e.item
        +e('img')(src="assets/images/card-alfa.png" alt="@@").image
        +e.for-cols

          +e.heading
            +heading('h3')
              | Дебетовая карта “Перекресток — Альфа-Банк”

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-3.png" alt="@@")
            +button(true)(href="#")._green
              | Оформить карту

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")
            +button(true)(href="#")._white
              | Подробнее

      +e.item
        +e('img')(src="assets/images/card-alfa.png" alt="@@").image
        +e.for-cols

          +e.heading
            +heading('h3')
              | Кредитная карта “Перекресток — Альфа-Банк”

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-3.png" alt="@@")
            +button(true)(href="#")._green
              | Оформить карту

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")
            +button(true)(href="#")._white
              | Подробнее
