include ../container/mobile
include ../button/mobile
include ../popup/desktop

mixin cards()
  +container()

    +e.heading
      +heading('h2')
        | Выберите карту Клуба Перекресток

    +b.xfo-cards

      +e.item
        +e('h3').card-title
          | Карта Клуба Перекресток
        +e('img')(src="assets/images/karta-kluba-perekrestok.png" alt="@@").image
        +e.for-cols

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-1.png" alt="@@")


          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")

        +button(true)(href="#")._green.__btn-m
          | Оформить карту
        +button(true)(href="#")._white
          | Подробнее

      +e.item
        +e('h3').card-title
          | Платежная карта “Перекресток”
        +e('img')(src="assets/images/card-x2.png" alt="@@").image
        +e.for-cols

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-2.png" alt="@@")

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")

        +button(true)(href="#")._green.__btn-m
          | Оформить карту
        +button(true)(href="#")._white
          | Подробнее

      +e.item
        +e('h3').card-title
          | Дебетовая карта “Перекресток — Альфа-Банк”
        +e('img')(src="assets/images/card-alfa.png" alt="@@").image
        +e.for-cols

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-3.png" alt="@@")

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")

        +button(true)(href="#")._green.__btn-m
          | Оформить карту
        +button(true)(href="#")._white
          | Подробнее

      +e.item
        +e('h3').card-title
          | Кредитная карта “Перекресток — Альфа-Банк”
        +e('img')(src="assets/images/card-alfa.png" alt="@@").image
        +e.for-cols

          +e.for-cols-column
            +e('p')
              | Как копить баллы?
            +e('img')(src="assets/images/10r-3.png" alt="@@")

          +e.for-cols-column
            +e('p')
              | Как тратить баллы?
            +e('img')(src="assets/images/10-1r.png" alt="@@")

        +button(true)(href="#")._green.__btn-m
          | Оформить карту
        +button(true)(href="#")._white
          | Подробнее
