@import "partners";

.xfo-partners {

  &__heading {
    font-size: 30px;
  }

  &__banner-slider {
    margin-top: 22px;
  }

  &__categories {
    margin-top: 10px;

    &-mobile {
      display: none;
    }

    &-title {
      display: none;
    }
  }

  &__calc {
    display: flex;
    margin-top: 10px;

    &-btn {
      margin-left: auto;
      width: 306px;
      max-width: 100%;
    }
  }

  &__items {
    margin: 40px 0 0 0;;
  }

  &__item {
    width: 307px;
    margin-bottom: 30px;
  }

  &__more {
    justify-content: center;

    &-btn {
      width: 575px;
    }
  }
}
