.xfo-partners {
    
  padding-bottom: 40px;

  &__heading {
    font-family: Rotonda, sans-serif;
    font-weight: 700;
    color: #333333;
    margin: 0;
    padding: 0;
  }

  &__calc-btn {
    min-height: 40px;
  }

  &__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 20px;
  }

  &__more {
    display: flex;

    &-btn {
      min-height: 60px;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
